body {
    margin: 0 10em;
}

.form button {
    width: 30%;
}

.form {
    border: .5px solid #b9b9b9;
    width: 70%;
    padding: .25em;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    
}

.modal-content button {
    width: 100%;
}

.modal-content input {
    width: 45%;
}

.modal-content select {
    margin: 6px;
    width: 45%;
    height: 3em; 
    font-size: 14px;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 1400px) {
    .form {
        display: block;
        width: 100%;
    }

    input {
        width: 98%;
    }
    
    .form button {
        margin: 0.5em auto;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    body {
        margin: 0 auto;
        width: 100%;
    }
    
    .form {
        width: 80%;
    }
    
}