table {
    margin: 0 auto;
    font-size: 22px;
}

th {
    text-align: right;
    padding: 0.25em;
    width: 155px;
}

tr {
    height: 2em;
}

tr :first-child + td {
    padding: 0 0.5em;
    width: 2em;
}

button {
    height: 2.25em;
    width: 5em;
}