.sFrames {
    width: 100%;
    border: none;
}

#scheduleFrame {
    height: 800px;
    width: 1800px;
    margin-bottom: 2em;
    margin-left: -27%;
}

#team-dropdown {
    margin-left: 40%;
    margin-right: 40%;
}
