.sFrames {
    width: 100%;
    border: none;
}

#scheduleFrame {
    height: 800px;
    width: 1800px;
    margin-bottom: 2em;
    margin-left: -27%;
}

#team-dropdown {
    margin-left: 40%;
    margin-right: 40%;
}

#frame {
    overflow-x: auto;
}

#scheduleFrame #top-bar {
    margin: 0;
    position: static;
}

@media screen and (max-width: 1200px) {
    margin-left: 0;
}
