/***********************************************************
* CSS Table of Conttents
* 1. Imports
* 2. Root Vars
* 3. General Rules
* 4. Home Page Styles
********************************************************** */

/***********************************************************
* 1. Imports
************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/***********************************************************
* 2. Root Vars
************************************************************/

:root {
    --blue: #0076c6;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --black: #000000;
    --primary: #0076c6;
    --secondary: #6c757d;
    --third: #7fc4fd;
    --accent1: #ffffff;
    --accent2: #727272;
    --background: #ffffff;
    --backgroundLight: #f7f7f7;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }



/***********************************************************
* 2. General Page Styles
************************************************************/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
  
}

.hide {
  display: none; 
}
/***********************************************************
* 2a. General Sidebar Styles
************************************************************/


header {
  background-image: none;
  background-color: var(--primary);
  border-style: solid;
  border-width: 5px;
  border-color: var(--primary);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  position: fixed;
  width: 11%;
  height: 110%;
  margin: 0%;
  flex-wrap: nowrap;
  z-index: 100;
}
header img{
  padding-top: 15%;
  width: 100%;
  flex-grow: 2;
}
header nav{
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  font-size: 90%;
}
header nav ul a {
  color: var(--white);
  text-decoration: none;
  font-weight: 550; 
}
header nav ul a li {
  list-style: none;
  text-align: left;
  margin: 2em -.5em;
  text-transform: uppercase; 
  width: 100%;
  
}
/***********************************************************
* 3. Profile Page Styles
************************************************************/
/***********************************************************
* 3a. Profile Page Topbar Style
************************************************************/

#profileTopBar #opacity {
  background-color: #0076c6;
  background-image: url("../../assets/logo3.png");
  color: var(--white);
  opacity: .8;
  margin-top: -1em;
  width: 100%;
  margin-top: -3.5%;
  height: 10em;
  z-index: -1;
  text-align: center;
}

#profileTopBar #opacity h2 {
  padding-top: 1.5em;
  font-size: 250%;
}

/***********************************************************
* 3b. Profile Section Style
************************************************************/
/***********************************************************
* 3a. Profile A Style
************************************************************/
/* Customize the label (the container) */
.container {
  vertical-align: middle;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .container:nth-of-type(2) span {
    background-color: #727272; }
  .container:nth-of-type(3) span {
    background-image: linear-gradient(white, rgba(60, 101, 200, 0), #3c65c8); }

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25em;
  width: 1.25em;
  background-color: #ffffff;
  border: 3px solid #727272;
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  border-color: #2196F3; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white; }

#styleTeam {
  display: flex;
  flex-direction: row;
  align-content: center; }
  #styleTeam select {
    width: 100%;
    height: 30%;
    border-radius: 0.5em; }
  #styleTeam button {
    display: inline-block;
    width: 45%;
    height: 30%;
    border-radius: 0.5em;
    background-color: #f1f8fe; }
    #styleTeam button:hover {
      opacity: 0.5; }

.hide {
  visibility: hidden; }