<section class="modal hide" id="return-prep-modal">
    <div class="modal-content" id="return-prep-modal-content">
        <div class="modal-header-box">
            <h1>Return to Prep Notes</h1>
        </div>
        <div class="modal-body">
            <h3>Please add a note explaining why this transcript has been returned to Prep.</h3>
            <textarea id="return-to-prep-comment" [(ngModel)]="data.comment"></textarea>
        </div>
        <div class="btn-box">
            <button id="done-btn" (click)="return()">Done</button>
        </div>
    </div>
</section>

<main id="home-content">

    <div class="main-box">

        <h1 class="page-title">Home</h1>

        <section class="left-col">

            <div id="banner-box">
                <!-- <div id="faux-banner"></div> -->
                <img class="banner" [src]="quote" alt="">
            </div>

            <div id="announcement-box">
                <h2>Announcements</h2>
                <div (click)="edit()" *ngIf="!editAnnouce">{{ announce }}</div>
                <div *ngIf="editAnnouce">
                  <textarea [(ngModel)]="announce"></textarea>
                  <button type="button" (click)="submitEdit()">Submit</button>
                </div>
            </div>

            <div class="links-box">
                <a href="https://drive.google.com/drive/u/0/folders/0AJzE0BZcnVJpUk9PVA" target="_blank" rel="noreferrer">
                    <p>Google Drive</p>
                </a>
                <a href="https://platform.verbit.co/users/sign_in" target="_blank" rel="noreferrer">
                    <p>Verbit</p>
                </a>
                <a href="" target="_blank">
                    <p>Transcript Guide</p>
                </a>
                <a href="https://docs.google.com/spreadsheets/d/1755CupoDLtrpePFnj_Dd_Y-FZEH8_6QMX4gAVDNh_AQ/edit#gid=1437701904" target="_blank" rel="noreferrer">
                    <p>Training</p>
                </a>
            </div>
        </section>


        <section class="right-col" *ngIf="!hide">
            <h2>In Progress</h2>

              <div id="claimed-transcript-box">
                <div>
                    <h4>Video</h4>
                    <span>{{ data.title }}</span>
                </div>
                <div>
                    <h4>Course</h4>
                    <span>{{ data.course }}</span>
                </div>
                <div>
                    <h4>Priority</h4>
                    <span>{{ data.priority }}</span>
                </div>
                <div>
                    <h4>Course Link</h4>
                    <a [href]="data.lms"  target="_blank">{{ data.lms }}</a>
                </div>
                <div>
                    <h4>Media URL</h4>
                    <a [href]="data.media" target="_blank">{{ data.title }}</a>
                </div>
                <div>
                    <h4>Transcript URL</h4>
                    <a [href]="data.doc" target="_blank">{{ data.doc }}</a>
                </div>
                <div>
                    <h4 [class.hide]="!verbit">Verbit ID</h4>
                    <p [class.hide]="!verbit">{{ data.verbitID }}</p>
                </div>
                <div>
                    <h4>Comments</h4>
                    <p>{{ data.comment }}</p>
                </div>
                <div class="btn-box">
                    <button id="return-prep-btn" (click)="openReturn()">Return to Prep</button>
                    <button id="complete-tran-btn" (click)="forward()">Complete</button>
                </div>
                <img id="comments-expander" src="" alt="">
            </div>
        </section>

    </div>

</main>
