/***********************************************************
* MAIN.CSS | Tech-Ops Portal Style Sheet
* CSS Table of Contents
* 
* 1. Imports
* 2. Color Variables
* 3. General Style Rules
* 3a. Navigation Styles
* 3b. Main Styles
* 4. Home.html
* 5. Schedule.html
* 6. Store.html
* 7. Profile.html
* 8. TimeTracker.html
* 9. Tables Styling
* 10. Style Guide Page
********************************************************** */

/***********************************************************
* 1. Imports
********************************************************** */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/***********************************************************
* 2. Color Variables
********************************************************** */
:root {
    --blue: #0076c6;
    --dark-blue: #000121;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --black: #000000;
    --first: #0076c6;
    --second: #6c757d;
    --third: #0076c6;
    --background: #ffffff;
    --backgroundSecondary: #ffffff;
    --backgroundLight: #f7f7f7;
    --backgroundGrade: none;
    --shadow: #000000;
    --fontPrime: #ffffff;
    --warning: #ffc107;
    --danger: #dc3545;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/***********************************************************
* 3. General Style Rules
********************************************************** */

.col1  {width: 10%;  }
.col2  {width: 20%;  }
.col3  {width: 30%;  }
.col4  {width: 40%;  }
.col5  {width: 50%;  }
.col6  {width: 60%;  }
.col7  {width: 70%;  }
.col8  {width: 80%;  }
.col9  {width: 90%;  }
.col10 {width: 100%; }

[class*="col"] {
    float: left;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.flex-container {
    display: flex;
}

.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.hide{display: none !important;}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight: 400;
    flex-wrap: wrap;
    background-color: var(--background);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/***********************************************************
* 3a. Navigation Styles
********************************************************** */

nav img {
    width: 100%;
    padding: 10%;
    transition: transform .2s;
}
nav #logo:hover {
    width: 100%;
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    -ms-transform: scale(1.1); /* IE 9 */
    transform: scale(1.1);
}
nav {
    background-color: var(--first);
    background-image: var(--backgroundGrade);
    height: 100%;
    position: fixed;
    box-shadow: 5px 0 10px var(--shadow);
    z-index: 3;
    overflow: hidden !important;
}
.nav-links {
    width: 100%;
    height: auto;
    flex-flow: column wrap;
    list-style: none;
    padding: 0;
}
.nav-links a {
    padding: .7em 2em;
    margin: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: transform .2s;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.3vw;
    color: var(--white);
    transition: transform .15s;
}
.nav-links a:hover {
    background-color: var(--second);
    transform: scale(1.05);
}
.current-page {
    border-left: 10px solid white;
}
.wrap {
    flex-wrap: wrap;
}
#nav-img-box {
    width: 250%;
    display: fixed;
    margin-top: 170px;
    margin-left: -50px;
    opacity: .65;
    transform: scale(1.7);
}



/**********************************************
* 3b. Main Styles
**********************************************/

main {
    margin-left: 10%;
    justify-content: row;
}
.page-title {
    margin: 0;
    padding: 50px 6% 30px;
    font-size: 2.25vw;
    font-weight: 400;
    color: var(--fontPrime);
}


/**********************************************
* 4. Home.html
**********************************************/

#welcome {
    position: relative;
}
.slideshow-container {
    position: relative;
    width: 85%;
    height: 11.30vw;
    margin: 15px auto 20px;
    padding: 0;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 2px 1px 5px var(--shadow);
}
.slideshow-container img {
    width: 100%;
}
.mySlides {
    position: absolute;
    z-index: 1;
}
.prev, .next {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 110%;
    padding: 4.8vw 8px;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 600;
    vertical-align: middle;
    color: var(--white);
    transition: all .25s;
    background-image: none;
}
.next {
    text-align: right;
    right: 0;
}
.prev:hover {
    background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(9,9,121,0) 100%);
    font-size: 1.5vw;
    padding-top: 4.5vw;
}
.next:hover {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(31,31,31,1) 100%);
    font-size: 1.5vw;
    padding-top: 4.5vw;
}
#dots-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -10px 0 20px;
}
.dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .25s;
}
.dot.active, .dot:hover {
    background-color: #333;
}


.links-container {
    width: 85%;
    margin: 0px auto;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.box-link {
    width: 200px;
    height: 200px;
    margin: 15px;
    box-shadow: 1px 1px 3px var(--shadow);
    background-color: var(--first);
    border-radius: 8px;
    overflow: hidden;
    transition: transform .2s;
}
.box-link:hover {
    transform: scale(1.1);
}
.box-link img {
    width: auto;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
.box-link p {
    margin: 150px 10px 10px 30px;
    font-size: 1.4em;
    font-weight: 500;
    z-index: 1;
    color: var(--white);
    position: absolute;
}

.right-sidebar {
    align-items: center;
    flex-flow: column wrap;
    padding-right: 5%;
    margin-left: -30px;
}
.right-sidebar a {
    margin: 20px;
    width: 50%;
}
.right-sidebar img {
    width: 100%;
}
.btn1 {
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
}
.btn1:hover {
    transform: scale(1.2);
}

.btn2 {
    width: 260px;
    height: 160px;
    margin: 15px 15px;
    border-radius: 30px;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--white);
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
    cursor: pointer;
}
.btn2:hover {
    background-color: var(--second);
    transform: scale(1.05);
}
#break-button p {
    color: var(--white);
}
#break-button span {
    font-size: 1.8em;
    color: var(--white);
}
.break-warning {
    background-color: var(--warning);
}
.break-warning:hover {
    background-color: var(--warning);
}
.break-overtime {
    background-color: var(--danger);
}
.break-overtime:hover {
    background-color: var(--danger);
}
.clock {
    font-size: 2em;
}
.hiddenBtn {
    display: none;
}
#last-checked, #last-break {
    margin-top: -15px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    color: var(--fontPrime);
}
#workday-link {
    width: 100%;
    text-align: center;;
}
.over {
    color: red;
}

#time-n-date {
    padding: 40px;
    margin: 10px 0 50px;
    color: var(--third);
}
#time-n-date p, span {
    color: var(--third);
    text-align: center;
}
#time {
    font-size: 4.5vw;
    font-weight: 300;
    margin: -.5vw 0;
    padding: 0;
}
#ampm {
    font-size: 1vw;
}
#date {
    font-size: 1.15svw;
    font-weight: 700;
    margin: .5vw 0 0;
    padding: 0;
}

#break-button {
    z-index: 2;
    position: fixed;
    bottom: 65px;
    right: 80px;
    transition: all .5s,
                right .25s 0s,
                height .25s 0s,
                font-size .25s 0s,
                width .5s .25s;
}
#break-button.expanded {
    position: fixed;
    width: 83%;
    height: 80%;
    bottom: 50px;
    right: 50px;
    font-size: 4vw;
    transition: all .25s,
                right .25s .25s,
                height .25s .25s,
                width .5s .5s,
                font-size .5s .5s;

}
#break-button.expanded:hover {
    transform: scale(1.01);
}


/**********************************************
* 5. Schedule.html
**********************************************/

#scheduleSection h1 {
    color: black;
    margin: 20px 40px -30px;
    font-size: 2em;
    font-weight: 400;
}
.iframe-container {
    width: 90%;
    height: 95%;
    margin: auto;
    border: 2px solid black;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
}
.teamSelector {
    display: flex;
    justify-content: flex-end;
}
.teamSelector .teamItem {
    margin-right: 2em;
    background-color: var(--first);
    padding: .25em;
    border-radius: 1em;
    color: var(--fontPrime);
}
.spreadsheet {
    height: 98%;
}

#teams {
    width: 98%;
    height: 54rem;
    margin-left: 1em;
    margin-right: 1em;
}
#selectTeam {
    width: 250px;
    margin: 15px 20px;
    padding: 5px;
    float: left;
    transition: .2s;
    color: var(--white);
}
#selectTeam:hover {
    width: 16.5em;
    background-color: var(--second);
}
#newTab {
    width: 40px;
    height: 40px;
    margin: 10px 20px 5px 0px;
    padding: 10px;
    transition: .2s;
}
#newTab:hover {
    transform: scale(1.2);
    background-color: var(--second);
}
#newTab img {
    width: 100%;
    height: auot;
}


/**********************************************
* 6. Store.html
**********************************************/

.store-btn {
    position: fixed;
    top: 20px;
    right: -30px;
    margin: 75px 75px -50px;
    padding: 1vw 2vw;
    border-radius: 30px;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--white);
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
    transition: all .2s;
}
.store-btn:hover {
    background-color: var(--second);
    transform: scale(1.1);
}
#invoiceStore {
    right: 160px;
}

.snacks-container {
    margin: 50px auto;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.snack {
    padding: 20px;
    height: auto;
    width: auto;
    margin: 20px -40px 20px 100px;
    border: 5px solid var(--first);
    border-radius: 10px;
    box-shadow: 3px 0 5px var(--shadow);
    transition: transform .2s;
    display: flex;
    flex-flow: column nowrap;
}
.snack:hover {
    transform: scale(1.05);
}
/* .snack {                  // Just an experimental animation.
    animation: wiggle 1s;
}
@keyframes wiggle {
    10%, 90%      { transform: rotate(-2deg); }
    20%, 80%      { transform: rotate(4deg);  }
    30%, 50%, 70% { transform: rotate(-7deg); }
    40%, 60%      { transform: rotate(12deg); }
} */
.snack-pic {
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.snack img {
    height: auto;
    width: 200px;
    border-radius: 6px;
}
.snack-info {
    width: 200px;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
}
.snack-info h3 {
    width: 100%;
    margin: 20px 0 5px;
    font-size: .8vw;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--fontPrime);
}
.snack-info p {
    font-weight: 300;
    color: var(--fontPrime);
}
.snack-count {
    margin: 15px 0;
    font-size: .8vw;
    border: 2px solid var(--white);
    padding: 1px 5.5px;
    border-radius: 20px;
}
.snack-cost {
    margin-left: 35%;
    font-size: 2vw;
}
.snack-in-cart .snack-cost {
    margin: 0;
    font-size: 1vw;
}

.snack-info button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px;
    background-color: var(--first);
    border-radius: 24px;
    border-style: none;
    transition: background-color .2s ease;
}
.snack-info button:hover {
    background-color: var(--second);
}

.snacks-section {
    flex-flow: column nowrap;
}
.snack-manage {
    margin: 60px 75px -50px;
    position: fixed;
    width: 30%;
    padding: 15px 40px;
    background-color: var(--first);
    box-shadow: 5px 0 8px var(--shadow);
    border-radius: 16px;
}
#snack-cart {
    display: flex;
    flex-flow: column nowrap;
    
}
.snack-in-cart {
    padding: 18px;
}
#snack-remove-btn {
    width: 22px;
    padding: 2px;
    margin-top: -5px;
}
#snack-cart-receipt {
    margin: 20px;
    font-size: 24px;
    text-align: left;
}
#snack-cart-receipt span,
#snack-shopping-list span {
    color: var(--white);
    text-align: left;
}
.snack-manage button, .popup button {
    width: 25%;
    margin: 25px 5px;
    padding: 10px;
    border: 2px solid var(--white);
    background-color: var(--first);
    color: white;
    font-weight: 600;
    border-radius: 24px;
    transition: background-color .2s ease;
}
.snack-manage button:hover, .popup button:hover {
    background-color: var(--white);
    color: var(--first);
}
.snack-cart-btns {
    display: flex;
    justify-content: flex-end;
}
.snack-manage form {
    display: flex;
    flex-flow: row wrap;
}
.snack-manage h2 {
    width: 100%;
    margin: 30px 0;
    font-size: 3em;
    font-weight: 300;
    color: white;
}
.snack-manage p {
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 300;
}
.snack-manage p {
    width: 30%;
    margin: 5px;
    font-size: 1vw;
    font-weight: 500;
    color: var(--fontPrime);
}
.snack-manage input {
    float: right;
    width: 58%;
    margin: 5px;
    padding: 3px;
    font-size: .9vw;
    font-weight: 500;
    text-align: right;
    border: none;
    border-radius: 3px;
    color: var(--second);
    transition: all .2s;
    cursor: pointer;
}
.snack-manage input:hover {
    width: 60%;
}
#add-img {
    width: 25%;
    margin: 25px 5px;
    padding: 10px;
    border: 2px solid var(--fontPrime);
    background-color: var(--first);
    color: var(--first);
    font-weight: 600;
    border-radius: 4px;
    transition: background-color .2s ease;
}
.popup {
    position: fixed;
    z-index: 4;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.popup-content {
    position: relative;
    background-color: var(--first);
    margin: auto;
    padding: 3vw;
    border: 1px solid var(--second);
    border-radius: 25px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.popup-content h2 {
    font-size: 3vw;
    font-weight: 300;
    margin-bottom: 2vw;
}
.popup-content span {
    font-size: 1.5vw;
    font-weight: 400;
}
.popup input {
    font-size: 1.2vw;
    margin: 1vw;
}
.popup button {
    margin: 1vw;
}
#enjoy-snacks h2 {
    font-size: 2.8vw;
}

#heading {
    position: fixed;
    z-index: 2;
    right: 90px;
    top: -10px;
    padding: 30px 100px;
    background-color: var(--first);
    border-radius: 10px;
    box-shadow: 5px 0 10px var(--shadow);
}
#heading h1 {
    font-size: 40px;
    font-weight: 300;
    padding: 0px 0 10px;
    color: white;
}
#heading span {
    margin: 10px;
    color: var(--white);
    font-size: 20px;
}
#heading input {
    color: var(--black);
    font-size: 16px;
    border: 3px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
}
#heading button {
    margin-left: 30px;
    padding: 4px 16px;
    font-size: 12px;
    color: var(--fontPrime);
    border: 3px solid var(--white);
    border-radius: 5px;
    background-color: var(--second);
    transition: .2s;
}
#heading button:hover {
    color: var(--white);
    background-color: var(--first);
}
#data {
    display: flex;
    flex-flow: row wrap;
}
#data th {
    background-color: white;
    color: var(--fontPrime);
    font-weight:700;
    margin: 0 0 30px;
    padding: 5px 10px 2px;
    border-radius: 5px;
}
#data span {
    font-weight: 500;
    color: var(--fontPrime);
}
#data p {
    color: var(--fontPrime);
}
.snack-info .btnPlusMinus{
    position: absolute;
    right: 70%;
    padding: 5px;
    background-color: var(--first);
    border-radius: 4px;
    border-style: none;
    transition: background-color .2s ease;
}
.snack-info .btnPlusMinus:hover {
    background-color: var(--second);
}
.snack-info .btnPlusMinus#plus {
    bottom: 25%;
    padding: 3px 5.75px;
}
.snack-info .btnPlusMinus#minus {
    bottom: 7%;
    padding: 3px 7.5px;
}

#request-btn {
    position: fixed;
    top: 750px;
}
#request-snack form div{
    width: 100%;
}


/**********************************************
* 7. Profile.html
**********************************************/

#profile-main {
    flex-flow: row wrap;
}
.profile-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0;
    width: 100%;
}
#clock-box {
    display: flex;
    align-items: center;
    padding: 5px;
}
#signOutBtn {
    margin: 0 50px;
    padding: 20px;
    color: var(--white);
    background-color: var(--second);
    transition: all .2s;
    border-radius: 50px;
}
#signOutBtn:hover {
    transform: scale(1.1);
    background-color: var(--third);
}
#clock {
    width: 80px;
    height: 80px;
    padding: 15px;
    color: var(--white);
    background-color: var(--second);
    transition: all .2s;
    border-radius: 25%;
}
#clock:hover {
    transform: scale(1.2);
    background-color: var(--third);
}

#profile-content {
    padding: 2.5%;
    flex-flow: row wrap;
    color: var(--fontPrime);
}
#profile-info, #resources {
    margin: 3%;
    padding: 40px;
    flex-flow: row wrap;
    box-shadow: 1px 1px 3px var(--shadow);
    border: 10px solid var(--first);
    border-radius: 20px;
}
#editContact {
    float: right;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    transition: all .2s;
    opacity: .5;
}
#editContact:hover {
    transform: scale(1.25);
    color: var(--white);
    background-color: var(--third);
}
#dbName {
    font-size: 2.7vw;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--fontPrime);
}
#profile-info h4 {
    margin: 20px 0 10px;
    font-size: 25px;
    font-weight: 300;
    color: var(--fontPrime);
}
#profile-info p {
    margin: 3px 0;
    color: var(--fontPrime);
}
#resources {
    flex-flow: row wrap;
    font-family: "Roboto";
    font-weight: 300;
}
#resources h3 {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    color: var(--fontPrime);
}
#links-box {
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
}
.profile-links {
    width: 50%;
    flex-flow: column wrap;
}
.profile-links a {
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    background-color: var(--first);
    color: var(--white);
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    font-size: .75vw;
    transition: all .2s;
}
.profile-links a:hover {
    transform: scale(1.1);
    background-color: var(--third);
}
.themes-box {
    display: flex;
    flex-flow: column nowrap;
}
.themes {
    margin: 10px auto 50px;
}
.themes button {
    margin: 2px;
    width: 40px;
    height: 40px;
}
#team-points h3 {
    width: 25%;
    margin: 5px 0;
}
#select-points option{
    color: var(--white);
}
.edit-profile-points{
    width: 15%;
    height: 30px;
    margin: 5px;
    color: var(--white);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    background-color: var(--danger);
    border: none;
    border-radius: 5px;
    transition: all .2s;
}
.edit-profile-points:hover{
    transform: scale(1.2);
    background-color: var(--third);
}
#edit-team-points{
    justify-content: flex-end;
}
#select-points select {
    width: 80%;
    height: 30px;
    margin: 5px;
    color: var(--white);
    font-family: "Roboto";
    font-size: 15px;
    background-color: var(--first);
    border: none;
    border-radius: 5px;
    transition: all .2s;
}
#select-points select:hover {
    height: 90%;
    background-color: var(--first);
}
#select-points button[type="submit"] {
    width: 20%;
    height: 30px;
    margin: 5px;
    color: var(--white);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    background-color: var(--first);
    border: none;
    border-radius: 5px;
    transition: all .2s;
}
#select-points button[type="submit"]:hover {
    transform: scale(1.2);
    background-color: var(--third);
}

#editInfo .popup-content {
    margin-top: -50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#editInfo h2, #usingRedeem h2, #toolTipBox h2 {
    font-size: 2.5vw;
    color: white;
}
#editInfo span {
    width: 40%;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    color: white;
}
#editInfo input,select,textarea {
    width: 50%;
    height: 30px;
    margin-top: 0;
    padding: 5px 15px;
    color: var(--white);
    border-style: none;
    border-color: var(--third);
    border-radius: 5px;
    background-color: var(--second);
    font-size: 16px;
}
#editInfo select {
    margin-right: 19px;
    padding: 5px 10px;
    color: whiet;
}
#aboutMe {
    width: 100%;
}
#editInfo textarea {
    width: 100%;
    height: 200px;
    padding: 5px 15px;
    font-family: "Roboto";
    font-weight: 300;
}
.button-box
{
    width: 100%;
}
.toolTipBox h2 {
    text-align: center;
}
#box, #redeemTime {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
#redeemBtn {
    margin-left: 37%;
}
#usingRedeem h2 {
    font-size: 2.4vw;
}
#usingRedeem input {
    color: black;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5px;
}
#usingRedeem p {
    margin: 10px 18px;
}
#accumulated {
    margin: 18px;
}
#confirmRedeem img {
    width: 50%;
    margin: 0 25%;
}
#close {
    margin-left: 37%;
}
#resultRedeem {
    margin-left: 42%;
    font-size: 2vw;
}
#yay-points div {
    width: 35%;
}
#yay-points h2 {
    color: var(--white);
}
#total{
    font-size: 1.5rem;
}
#light {background-color: var(--blue)}
#dark-blue {background-color: var(--dark-blue)}
#dark {background-color: var(--gray-dark)}
#jedi {background-image: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);}
#sith {background-image: linear-gradient(45deg, rgba(36, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);}
#merica {background-image: linear-gradient(9deg, rgba(255, 0, 0, 1) 0%, rgba(221, 59, 59, 1) 16%, rgba(235, 208, 208, 1) 32%, rgba(255, 255, 255, 1) 39%, rgba(191, 230, 241, 1) 45%, rgba(69, 163, 190, 1) 64%, rgba(51, 83, 185, 1) 80%)}
#falllight {background-color: #ff5900;}
#falldark {background-color: #ff5900;}
#christmaslight {background-color: #054d00;}
#christmasdark {background-color: #9c0000;}



/**********************************************
* 8. TimeTracker.html
* 9. Tables Styling
**********************************************/

.table-box {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 0;
    color: black;
    background-color: #f7f7f7;
    border: 5px solid var(--first);
    border-radius: 20px;
}
.table-box div {
    width: 100%;
    display: flex;
    background-color: #dddddd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.table-box h2{
    width: 80%;
    margin: 20px 20px 0px;
    padding: 10px 20px;
    color: black;
    font-weight: 300;
    font-size: 2.5vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#show-all {
    width: 100px;
    margin: 50px 0 0;
}
#checkShow {
    width: 20px;
    height: 20px;
    margin: 50px 50px 0 0;
}
#invoice-table span {
    float: right;
}
.table-box a {
    width: 10%;
    height: 80px;
    margin: 30px 20px 0 0;
    padding: 20px;
    float: right;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #f7f7f7;
    transition: all .2s;
}
.table-box a:hover {
    margin-top: 10px;
    height: 100px;
    background-color: var(--second);
}
.table-box img {
    width: 60%;
    height: auto;
    margin: 20% 25%;
}
.table-generate {
    padding: 20px 40px;
}
.table-generate th {
    padding: 10px 0px;
    text-align: left;
    color: black;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.2vw;
}
.table-generate tr {
    padding: 3px 20px;
    cursor: pointer;
}
.table-generate td {
    margin: 5px;
    padding: 5px 10px;
    font-size: .8vw;
    border-radius: 3px;
    color: black;
}
.table-generate select {
    width: 100%;
}
.table-generate .username {
    width: 40%;
}
.criteria {
    width: 60%;
    margin-left: 20px;
}
.points {
    width: 15%;
    text-align: center;
}
.message {
    width: 25%;
}
.grayYes {
    background-color: #dddddd;
}

.useradmin, .userstore {
    width: 5%;
    text-align: center;
}

#adding-point-item {
    width: 100%;
    padding: 30px 40px 0;
    background-color: #f7f7f7;
}
#adding-point-item input {
    margin: 5px;
    padding: 5px;
    font-family: "Roboto";
    font-size: 16px;
    border: 2px solid #dddddd;
    background-color: #f7f7f7;
    border-radius: 3px;
}
#adding-point-item button {
    width: 10%;
    margin: 5px;
    padding: 5px;
    font-family: "Roboto";
    font-size: 12px;
    border: 3px solid #dddddd;
    background-color: #f7f7f7;
    border-radius: 50px;
    transition: all .2s;
    cursor: pointer;
}
#adding-point-item button:hover {
    transform: scale(1.1);
    background-color: #dddddd;
}
#newTitle {
    width: 50%;
}
#newPoints {
    width: 5%;
}

.notUsed input {
    width: 50px;
    margin: 0 10px;
    padding: 5px;
    color: black;
    font-size: 16px;
    border: 2px solid var(--first);
    border-radius: 24px;
    text-align: center;
}
.notUsed button {
    padding: 5px;
    border: 2px solid var(--first);
    font-weight: 600;
    border-radius: 24px;
    transition: background-color .2s ease;
}
.notUsed button:hover {
    background-color: var(--fontPrime);
}
.th-btn {
    border: none;
    background-color: #f6f6f6;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
}



/**********************************************
* 10. Style Guide Page
**********************************************/
#style-guide-main {
    display: flex;
    flex-flow: row wrap;
    padding: 0 50px;
}
.color-title {
    width: 100%;
    font-weight: 300;
    font-size: 24px;
}

#mainColorsSection {
    width: 40%;
    margin-left: 0em;
}

.mainColorBoxes {
    display:flex;
    flex-flow:column wrap;
    width: 100%;
    padding-top: 1em;
}

.mainColorBox {
    padding: 10px;
    padding-right: 5em;
    width: 40%;
    height: 150px;
    display:flex;
    flex-flow: column wrap;
}

.pmain {
    line-height: 2em;
}

.box {
    width: 300px;
    height: 100px;
    Margin-bottom: 1em;
    margin-right: 1em;
    box-shadow: 3px 1px 5px #888888;   
}
.color-section-title {
    width: 100%;
}

#m1 {
    background-color: #0076C6;
}
#m2 {
    background-color: #000000;
}
#m3 {
    background-color: #FFFFFF;
}
/**********************************************
accents Section
**********************************************/
#aboutaccents {
    padding-top: 1em;
    padding-right:8em;
}

#accentColorBoxes {
    display:flex;
    flex-flow: row wrap;
    padding-top: 2em;
}
.accentColorBox {
    padding: 1em;
    width: 30%;
    padding-left: 0em;
}
.boxac {
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 5px #888888;
    margin-bottom: 1em;
}

#ac1 { background-color: #82C242; }
#ac2 { background-color: #F58300; }
#ac3 { background-color: #A5216F; }
#ac4 { background-color: #FEE060; }
#ac5 { background-color: #E42226; }
#ac6 { background-color: #ADADAD; }

/**********************************************
Tints Section
**********************************************/
#tintsShades{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}
.tintsBox {
    padding: 10px;
    margin: 5px 10px;
    width: 25%;
}
#t1  { background-color: #6B9D41; color: white; }
#t2  { background-color: #B3D68A;                 }
#t3  { background-color: #CBE3AE;                 }
#t4  { background-color: #63174E; color: white; }
#t5  { background-color: #B94F8C; color: white; }
#t6  { background-color: #C879A9;                 }
#t7  { background-color: #AD0C20; color: white; }
#t8  { background-color: #E85156; color: white; }
#t9  { background-color: #EB7B7E;                 }
#t10 { background-color: #CB6028; color: white; }
#t11 { background-color: #F59B42; color: white; }
#t12 { background-color: #F6B46C;                 }
#t13 { background-color: #FFCC00;                 }
#t14 { background-color: #FBE68C;                 }
#t15 { background-color: #FBEBA6;                 }
#t16 { background-color: #525252; color: white; }
#t17 { background-color: #D2D2D2;                 }
#t18 { background-color: #EBEBEB;                 }
#t19 { background-color: #0C4496; color: white; }
#t20 { background-color: #1D9CD4; color: white; }
#t21 { background-color: #8DD6F0;                 }
#t22 { background-color: #D2D2D2;                 }

/**********************************************
Fonts Section
**********************************************/
.style-img {
    width: 100%;
    height: auto;
}