/* Default Style Values*/

body {
    margin: 0;
    font-family: Verdana;
    font-size: 20px;
}

h1 {
    color: #0076c6;
}

h2 {
    color: #0076c6;
}

h3 {
    color: #f89901;
}

input {
    font-size: 14px;
    margin: .5em;
    padding: .5em;
    height: 3em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 48%;
}

button {
    background-color: #0076c6;
    color: white;
    margin: .5em;
    border: none;
    cursor: pointer;
    height: 2.5em;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

form button {
    width: 50%;
    margin: 0 25%;
}

.form button {
    width: 48%;
}

hr {
    width: 90%
}

/*************** CLASSES ***************/

.icontab {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin: 2px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

.icontab:hover {
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0076c6;
    position: fixed;
    height: 100%;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #f89901;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin: 0 0 0 550px;
    height: 900px;
    width: 68%
}

table {
    margin-right: auto;
    margin-left: auto;
}

form input {
    width: 100%
}

input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #808080;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
}

input[type=checkbox]:hover {
    background-color: #9cb7d4
}

input[type=checkbox]:active,
input[type=checkbox]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=checkbox]:checked {
    background-color: #0076c6;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

input[type=radio] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #808080;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 50%;
    display: inline-block;
}

input[type=radio]:hover {
    background-color: #9cb7d4
}

input[type=radio]:active,
input[type=radio]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=radio]:checked {
    background-color: #0076c6;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.iframes {
    border-style: none;
    height: 2679%;
    width: 100%;
}

.iframing {
    margin: 0 auto;
    margin-top: 50px;
    height: 90%;
    width: 75%;
    overflow-y: scroll;
    border-left: 1px solid black;
}

.iframing::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.iframing::-webkit-scrollbar-thumb {
    background-color: #0076c6;
    border-radius: 10px;
    margin-top: 10px;
}

.iframing::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

form {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1em;
    text-align: left;
}



.hide {
    display: none;
}

.form {
    border: .5px solid #b9b9b9;
    padding: .25em;
    margin-top: 4%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.flex-box {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
}

.locked {
    opacity: .1;
}

.formLogout {
    border: none;
}

.formLogout button {
    width: 100%;
    margin: 10px;
}

/* ---- Styles CSS --------- */

.flex-container {
    position: static;
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    margin-top: 1em;
}

.flex-column {
    margin-top: 1em;
}

h1 {
    text-align: center;
}

.tab-header {
    text-align: center;
    margin-top: 10px;
    font-family: verdana;
    font-weight: bold;
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
}

.title {
    display: inline-block;
    font-size: 30px;
    color: white;
    line-height: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.container {
    position: absolute;
    right: 0;
    display: flex;
    flex-shrink: 1;
}

.item {
    margin: 0 auto;
    width: 800px;
    border-bottom: 1px solid black;
}

.item img {
    height: 7em;
    float: right;
    margin-left: 1em;
}

.announcements {
    height: 80%;
    width: 75%;
    margin: 0 auto;
    overflow-y: scroll;
    border-left: 1px solid black;
}

.announcements::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.announcements::-webkit-scrollbar-thumb {
    background-color: #0076c6;
    border-radius: 10px;
    margin-top: 10px;
}

.announcements::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.announcementButton {
    margin: 0 45%;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /*    overflow: hidden;  Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow-y: scroll;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 3em auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    /* Could be more or less, depending on screen size */
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* --- Module Box ---*/

textarea {
    width: 99%;
    margin-top: 5px;
    margin-left: 7px;
}

p input[type=checkbox] {
    width: 1em;
    height: 1em;
    position: relative;
    top: 10px
}

#mceu_31 {
    display: none;
}

.modal-content form {
    border: none;
}

@media screen and (max-width: 1200px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: fixed;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
        text-align: center;
    }
    div.content {
        padding-top: 50px;
        margin: auto;
    }
    [class*="col-"] {
        width: 100%;
        text-align: center;
    }
    .form {
        justify-content: center;
        flex-flow: row wrap;
    }
    button {
        width: 20em;
    }
    input {
        width: 20em;
    }

    .iframes {
        height: 36600px;
    }

    .iframing {
        width: 100%;
        height: 80%;
    }

    .announcementButton {
        margin: 0 auto;
    }

    .item {
        margin: 0 auto;
        width: 400px;
        border-bottom: 1px solid black;
    }

    .modal-content {
        width: 70%;
        /* Could be more or less, depending on screen size */
        /* Could be more or less, depending on screen size */
    }

}

@media screen and (max-width: 768px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        /*        position: relative;*/
    }
    ul.sidenav li a {
        font-size: 15px;
        text-align: center;
        float: none;
    }
    div.content {
        padding-top: 200px;
        text-align: center;
    }
}
