/* Default Style Values*/


/* Potatoes */

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    border-radius: 5px;
    margin: 0 !important;
    line-height: 1.5;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Hide the scrollbars on the page */

 ::-webkit-scrollbar {
    display: none;
}

input {
    margin: 0;
}


/* This is used for centered, secondary headers (subtitles, mostly) */

h1 {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: orange;
}


/*Used for main headers, such as course headings */

h2 {
    font-size: 28px;
    color: #0076C6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0px;
    color: #525252;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

#my-sidenav {
    height: 0px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h4 {
    font-size: 32px;
    color: #326ba9;
}

h5 {
    font-size: 24px;
    color: #444;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}

select {
    font-size: 18px;
    color: #666;
    padding: 10px 10px 10px 10px;
    border: solid 1px #DDD;
    cursor: pointer;
    margin-top: 10px;
}

select:hover {
    border: solid 1px #BBB;
}

hr {
    height: 1px;
    background-color: #E2E2E2;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.float-right {
    float: right;
    vertical-align: middle;
}

.nav-bar {
    background-color: #326ba9;
    height: 85px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: default;
}

.nav-menu {
    display: flex;
    height: 85px;
    align-content: center;
    padding: 0px 5px 0px 30px;
}

.trWeather {
    align-content: center;
    margin-left: 52.88%;
    margin-top: 37%;
    width: 100%;
    height: 85px;
}


/* Navigation Button Style */

.btn-nav {
    margin-left: 10px;
    display: inline-block;
    color: white;
    padding-top: 30px;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    height: 100%;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #326ba9 letter-spacing: 1px;
}

.btn-nav:hover {
    color: #00A6F6;
    background-color: #2A2A2A;
}

.pathway:hover {
    color: #F39b3f;
}

.brightspace:hover {
    color: #0096E6;
}

.all-courses:hover {
    color: #DDD;
}

.campus:hover {
    color: #20b920;
}

.btn-content {
    background-color: #0076C6;
    font-size: 16px;
    font-weight: bold;
    width: auto;
}

.btn-content:hover {
    background-color: #0086D6;
}

.btn-toggle {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    height: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #0076C6;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-toggle:hover {
    background-color: #0086D6;
}

.btn-toggle-pilot {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    height: 30px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-toggle-pilot:hover {
    background-color: red;
}


/* Width Sizes */

.half {
    width: calc(50% - 12px);
}

.one-third {
    width: calc(33.33333% - 12px);
}

.two-thirds {
    width: calc(66.66666% - 12px);
}

.one-fourth {
    width: calc(25% - 12px);
}

.three-fourths {
    width: calc(75% - 12px);
}

.one-fifth {
    width: calc(20% - 12px);
}

.two-fifths {
    width: calc(40% - 12px);
}

.three-fifths {
    width: calc(60% - 12px);
}

.four-fifths {
    width: calc(80% - 12px);
}

.full {
    width: 100%
}


/* Panes */

.pane {
    height: auto;
    padding: 10px 20px 10px 20px;
    border: solid 1px #CCCCCC;
    border-radius: 2px;
    box-shadow: -2px 2px 4px #CCCCCC;
    margin: 6px;
    transition: height 0.5s;
    align-self: flex-start;
}

#hider {
    padding-bottom: 20px;
    margin-top: 10px;
}

.pane-clean {
    padding: 10px 20px 10px 20px;
    border: solid 1px #CCCCCC;
    border-radius: 2px;
}

.pane-clear {
    padding: 10px 20px 20px 20px;
    border: none;
    border-radius: 2px;
    margin: 6px;
}

.height-full {
    height: auto;
}


/* Images */

.image {
    padding: 0px;
}

.class-name {
    color: #ACACCC;
}

.code-block {
    white-space: pre-line;
}

.centered-header {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-indent {
    margin-left: 12px;
}

.float-right {
    float: right;
}

.board {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.center-text {
    text-align: center;
}

.setting {
    margin-left: 20px;
}

.line {
    border-left: 1px solid white;
    padding-left: 21px;
    margin: 10px 0px 10px 21px;
}

.title {
    display: inline-block;
    font-size: 30px;
    color: white;
    line-height: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.logo {
    margin-top: 13px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    margin: -60px 0px 0px 27%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0076C6;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0076C6;
}

input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 50px;
}

.slider.round:before {
    border-radius: 50%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    width: 70%;
    min-width: 1180px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.cleanFrame {
    border: none;
    margin: 0px;
    height: 90%;
    width: 100%;
    padding: 0px;
}

.tooltip {
    display: inline-block;
    font-size: 16px;
    border: solid 1px #DEDEDE;
    height: 24px;
    width: 24px;
    border-radius: 36px;
    text-align: center;
    line-height: 20px;
    float: right;
    font-weight: 600;
    margin-top: 10px;
    cursor: help;
}

.council-tip {
    display: inline-block;
    font-size: 16px;
    border: solid 1px #DEDEDE;
    height: 24px;
    width: 160px;
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    line-height: 20px;
    float: right;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: help;
    color: #888;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: white;
    border: solid 1px #DEDEDE;
    color: #888;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    /* Position the tooltip */
    position: fixed;
    bottom: 20px;
    left: 40px;
    z-index: 1;
    width: 280px;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.council-tooltip {
    visibility: hidden;
    background-color: white;
    border: solid 1px #888;
    color: #444;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    /* Position the tooltip */
    position: absolute;
    top: 90px;
    left: 15px;
    z-index: 10;
    width: calc(100% - 30px);
    height: auto;
    transition: all 0.2s ease-in-out;
    box-shadow: -2px 2px 2px #888888;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .council-tooltip {
    visibility: visible;
}


/*************** CLASSES ***************/

.icontab {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin: 50px 0px 0px 0px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

.icontab:hover {
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
}

.menuBar {
    top: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    margin-left: -8px;
    text-align: center;
    border-bottom: solid 5px dodgerblue;
    min-width: 1260px;
    align-content: center;
    z-index: 1;
}

.menuButton {
    display: inline;
    width: 140;
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 900;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    border-color: dodgerblue;
    background-color: dodgerblue;
    transition: all 0.15s ease-out;
    text-align: center center;
    cursor: pointer;
}

.menuButton:hover {
    color: white;
    background-color: #52A8FF;
    font-weight: 900;
}

.menuButtonB {
    display: inline;
    width: 200px;
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 900;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    border-color: rgb(16, 119, 188);
    background-color: rgb(16, 119, 188);
    transition: all 0.15s ease-out;
    text-align: center center;
    cursor: pointer;
}

.menuButtonB:hover {
    color: rgb(16, 119, 188);
    background-color: white;
    font-weight: 900;
}

.menuButtonS {
    display: inline;
    width: 56px;
    height: 56px;
    position: absolute;
    top: -9;
    color: white;
    border-color: dodgerblue;
    background-color: white;
    transition: all 0.15s ease-out;
    text-align: center center;
    cursor: pointer;
    z-index: 100;
}

.menuButtonS {
    display: inline;
    width: 56px;
    height: 56px;
    position: absolute;
    color: white;
    border-color: dodgerblue;
    background-color: white;
    transition: all 0.15s ease-out;
    text-align: center center;
    cursor: pointer;
    z-index: 100;
}

.officeTitle {
    float: left;
    color: darkgray;
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: 5px;
    width: auto;
    margin-right: -300px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
}

.reportTitle {
    float: left;
    color: darkgray;
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: 5px;
    width: 250px;
    margin-right: -300px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 0;
}

.bottomBar {
    z-index: 100;
    bottom: 0;
    left: -1;
    margin-bottom: -3px;
    width: 101%;
    position: fixed;
    background-color: black;
    border-top: solid 5px rgb(16, 119, 188);
    height: 35px;
    margin-top: 40px;
    min-width: 50%;
    z-index: 100;
}

.bottomMenu {
    z-index: 99;
    bottom: 0;
    left: -1;
    margin-bottom: -3px;
    width: 101%;
    position: fixed;
    height: 35px;
    margin-top: 40px;
    min-width: 50%;
    z-index: 100;
}

.contactName {
    font-family: Verdana;
    font-size: 18px;
    margin-bottom: -10px;
    margin-left: 35px;
    font-weight: 600;
}

.contactTitle {
    font-family: Verdana;
    font-size: 14px;
    margin-bottom: -10px;
    margin-left: 35px;
    font-weight: 400;
    text-transform: uppercase;
    color: dimgray;
}

.contactInfo {
    margin-bottom: -10px;
    margin-left: 35px;
    font-size: 14px;
}

.contactInfoG {
    margin-bottom: -10px;
    margin-left: 40px;
    font-size: 14px;
    color: black;
}

.categoryButton {
    width: 200px;
    height: 33px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    border-color: dodgerblue;
    background-color: rgb(16, 119, 188);
    transition: all 0.15s ease-out;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-right: 40px;
    float: top;
}

.categoryButton:hover {
    color: rgb(16, 119, 188);
    background-color: white;
}

.tab-header {
    text-align: center;
    margin-top: 10px;
    font-family: verdana;
    font-weight: bold;
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    display: inline;
    width: 220;
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    border-color: rgb(16, 119, 188);
    background-color: rgb(16, 119, 188);
    transition: all 0.15s ease-out;
    text-align: center center;
    cursor: pointer;
}

.dropdown-btn:hover {
    color: white;
    background-color: dodgerblue;
}

.dropdown:hover {
    color: rgb(16, 119, 188);
    background-color: transparent;
    font-weight: 900;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 200;
    font-family: Verdana;
    font-size: 14px;
    background-color: white;
    border-left: solid 2px gray;
    border-right: solid 2px gray;
    transition: all 0.15s ease-out;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    display: block;
    transition: all 0.1s ease-out;
    border-top: solid 1px gray;
}

.dropdown:hover .dropdown-content {
    display: block;
    bottom: 100%;
    transition: all 0.15s ease-out;
}

.noteHeader {
    font-family: Verdana;
    text-transform: uppercase;
    margin-left: 4.2%;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #2F2F2F;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
}

.noteNumbers {
    width: auto;
    min-width: 18px;
    position: absolute;
    height: 18px;
    border: solid 1px black;
    border-radius: 18px;
    text-align: center;
    z-index: 150;
    color: white;
    font-weight: 900;
    line-height: 17px;
    font-size: 11px;
    font-family: Verdana;
    transition: all 0.15s ease-out;
    background: radial-gradient(#FF0200, #FF0200, #3B0100);
}

.sliderOn {
    padding: 2px;
    height: 15px;
    width: 33px;
    transition: all 0.1s ease-out;
    background: #fff;
    border: 3px solid dodgerblue;
    border-radius: 2em;
    cursor: pointer;
    margin-top: 3px;
}

.sliderButtonOn {
    height: 15px;
    width: 18px;
    border: solid 3px gray;
    border-radius: 15px;
    transition: all 0.05s ease-out;
    background-color: lightblue;
    margin-top: -3px;
}


/*************** IDs ***************/

#adjustIcon {
    background-size: 50% 50%;
}

#BYUIBottomLabel {
    text-align: center;
    font-family: Verdana;
    width: 100%;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2%;
    margin-top: 0.5%;
    color: gray;
    letter-spacing: 3px;
    float: left;
}

#mainContent {
    width: 1416px;
    height: 750px;
    border: white;
    margin-left: auto;
    margin-right: auto;
    float: center;
    margin-top: 100px;
}

#middleFrame {
    float: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    margin-bottom: 50px;
    min-width: 1200px;
}

#homeMain {
    height: 100%;
    max-height: 500px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#homeIconGrid {
    width: 100%;
    height: 50;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 12%;
    margin-top: 16.5%;
}

#homeButtons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10%;
    text-align: center;
    float: bottom;
}

#announcementsContent {
    width: 310px;
    height: 600px;
    border: solid 1px transparent;
}

#reportContainer {
    position: absolute;
    top: 380;
}

#introContainer {
    position: absolute;
    background-color: white;
    border: solid 1px gray;
    left: 10;
    margin-top: 20px;
    width: 320px;
    height: auto;
    box-shadow: 5px 5px 5px gray;
}


/*************** STANDARD ***************/

a:link {
    color: rgb(12, 84, 133);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(12, 84, 133);
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none
}

a:active {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none
}

h1 {
    font-family: Verdana;
    font-size: 45px;
    text-align: center;
    color: orange;
    margin-top: 1%;
}

h2 {
    font-family: Verdana;
    font-size: 45px;
    text-align: center;
    color: black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 50px;
}

h4 {
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    color: dodgerblue;
}

td {
    vertical-align: top;
}

#title2 {
    position: fixed;
    right: 35%;
    left: 35%;
    white-space: nowrap;
    z-index: -1;
}


/* Login Form */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    padding-top: 100px;
    text-align: center;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    z-index: 1001;
    /* Sit on top */
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 15%;
    /* Could be more or less, depending on screen size */
    border-radius: 5px;
}


/* The Close Button */

.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 45;
    color: firebrick;
    font-size: 35px;
    font-weight: bold;
}


/* Close button on hover */

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* XML STYLING */

#containerDiv {
    border: transparent;
    width: 310px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.flex-container {
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.bottom-nav {
    height: 45px;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    line-height: 45px;
}