body {
    margin: 2em;
    padding: 2em;
}

.form {
    border: 3px solid #b9b9b9;
    width: 50%;
    padding: 1em;
    margin: 1em auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #326ba9;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    margin: 1em;
    padding: 1em;
}