<section class="modal hide" id="dup-modal">

    <div class="modal-content" id="dup-modal-content">

        <div class="modal-header-box">
            <h1>Duplicate Found</h1>
        </div>

        <div class="left-col col">
            <h2>Your Request</h2>
            <div class="detail">
                <label>Media Type:</label>
                <p class="description"> {{ type }} </p>
            </div>
            <div class="detail">
                <label>Course Code:</label>
                <p class="description"> {{ course }} </p>
            </div>
            <div class="detail">
                <label>Title:</label>
                <p class="description"> {{ title }} </p>
            </div>
            <div class="detail">
                <label>Priority:</label>
                <p class="description">{{ priority }} </p>
            </div>
            <div class="detail">
                <label>Video:</label>
                <a class="description" [href]="media"> {{ media }} </a>
            </div>
            <br><br>
            <div class="hide" id="dupToBeUsedBox">
                <h2>Duplicate to be Used</h2>
                <div class="detail">
                    <label>Media Type:</label>
                    <p class="description"> {{ toBeUsedType }} </p>
                </div>
                <div class="detail">
                    <label>Course Code:</label>
                    <p class="description"> {{ toBeUsedCourse }} </p>
                </div>
                <div class="detail">
                    <label>Title:</label>
                    <p class="description"> {{ toBeUsedTitle }} </p>
                </div>
                <div class="detail">
                    <label>Priority:</label>
                    <p class="description">{{ toBeUsedPriority }} </p>
                </div>
                <div class="detail">
                    <label>Video:</label>
                    <a class="description" [href]="toBeUsedMedia"> {{ toBeUsedMedia }} </a>
                </div>
            </div>
        </div>

        <div class="right-col col">
            <div id="dup-title-box">
                <h2 id="dup-title">Potential Duplicates</h2>
                <h2 id="dup-number">{{ dups.length }}</h2>
            </div>
            <div class="dup-window">
                <div *ngFor="let dup of dups" class="dup" (click)="dupToBeUsed(dup, dup.objectID)">
                    <div class="detail">
                        <label>Media Type:</label>
                        <p class="description"> {{ dup.type }} </p>
                    </div>
                    <div class="detail">
                        <label>Course Codes:</label>
                        <p class="description"> {{ dup.courseCode }} </p>
                    </div>
                    <div class="detail">
                        <label>Title:</label>
                        <p class="description"> {{ dup.title }} </p>
                    </div>
                    <div class="detail">
                        <label>Priority:</label>
                        <p class="description"> {{ dup.priority }} </p>
                    </div>
                    <div class="detail">
                        <label>Video:</label>
                        <a class="description" [href]="dup.media"> {{ dup.media }} </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="btn-box" id="dup-btn-box">
            <p style="margin-left: 2rem; margin-top: .8rem; font-weight: bolder;" id="message"></p>
            <button type="submit" id="requestSubmit" (click)="useDuplicate(dups[dupPage].objectID)">Use Duplicate</button>
            <button type="submit" id="requestSubmit" (click)="newRequest()">Make New Transcript</button>
            <button class="warning-btn" id="dup-cancel" (click)="closeDup()">Cancel</button>
        </div>

    </div>

</section>

<main>

    <div class="main-box">

        <h1 class="page-title">Request</h1>

        <section id="requestForm" class="left-col">
            <input [(ngModel)]="name" id="guestName" placeholder="Name" [class.hide]="hider">
            <select [(ngModel)]="type" placeholder="Select Type">
                <option disabled hidden [value]="selectUndefinedOptionValue">Select Type</option>
                <option *ngFor="let y of types" [ngValue]="y">{{ y }}</option>
            </select>
            <select [(ngModel)]="course">
                <option [ngValue]="null" hidden>Select Course</option>
                <option id="requestCourse" hidden></option>
            </select>
            <select [(ngModel)]="priority">
                <option disabled hidden [value]="selectUndefinedOptionValue">Select Priority</option>
                <option *ngFor="let i of priorities" [ngValue]="i.value">{{ i.name }}</option>
            </select>
            <input [(ngModel)]="title" type="text" placeholder="Transcript Title">
            <input [(ngModel)]="lms" type="url" placeholder="Canvas URL">
            <input  [(ngModel)]="media" type="url" placeholder="Media URL">

            <label id="requestCommentsLabel">
                <h3>Comments</h3>
            </label>
            <input [(ngModel)]="comments" type="text">
        </section>

        <section id="transcript-box-info" class="right-col">
            <h2>Ticket Information</h2>
            <div class="ticketbox  col">
                <div class="detail">
                    <label>Media Type:</label>
                    <p class="description"> {{ type }} </p>
                </div>
                <div class="detail">
                    <label>Course Code:</label>
                    <p class="description"> {{ course }} </p>
                </div>
                <div class="detail">
                    <label>Title:</label>
                    <p class="description"> {{ title }} </p>
                </div>
                <div class="detail">
                    <label>Priority:</label>
                    <p class="description"> {{ priority }} </p>
                </div>
                <div class="detail">
                    <label>Location in Course:</label>
                    <p class="description"> {{ lms }} </p>
                </div>
                <input type="checkbox" class="checkbox" id="moreClassTrans" [(ngModel)]="multi"><span class="check-text">Request Another Transcript for this Course?</span>
                <div class="btn-box">
                    <button type="submit" id="requestSubmit" (click)="newRequest()">Submit</button>
                    <button class="hide" id="dup-btn" (click)="openDup()">Open Dup Checker</button>
                </div>
                <div>
                    <h3 id="sub-msg"></h3>
                </div>
            </div>
        </section>
    </div>

</main>
