<section class="modal hide" id="dup-modal">

    <div class="modal-content" id="dup-modal-content">
        <div class="modal-header-box">
            <h1>Duplicate Found</h1>
        </div>

        <div class="left-col col">
            <h2>Your Request</h2>
            <div class="detail">
                <label>Media Type:</label>
                <p class="description"> {{ type }} </p>
            </div>
            <div class="detail">
                <label>Course Code:</label>
                <p class="description"> {{ course }} </p>
            </div>
            <div class="detail">
                <label>Title:</label>
                <p class="description"> {{ title }} </p>
            </div>
            <div class="detail">
                <label>Priority:</label>
                <p class="description">{{ priority }} </p>
            </div>
            <div class="detail">
                <label>Video:</label>
                <p class="description"> {{ media }}</p>
            </div>
        </div>

        <div class="right-col col">
            <div id="dup-title-box">
                <h2 id="dup-title">Potential Duplicate</h2>
                <i class="fas fa-angle-left hide-if-one-dup" (click)="displayPrevDup()"></i>
                <h2 class="hide-if-one-dup" id="dup-number">1 / 3</h2>
                <i class="fas fa-angle-right hide-if-one-dup" (click)="displayNextDup()"></i>
            </div>
            <!-- <div *ngFor="let dup of dups" class="dup-card"> -->
                <div class="detail">
                  <label>Media Type:</label>
                  <p class="description"> {{ dups[dupPage].type }} </p>
                </div>
                <div class="detail">
                  <label>Course Code:</label>
                  <p class="description"> {{ dups[dupPage].courseCode }} </p>
                </div>
                <div class="detail">
                  <label>Title:</label>
                  <p class="description"> {{ dups[dupPage].title }} </p>
                </div>
                <div class="detail">
                    <label>Priority:</label>
                    <p class="description">{{ priority }} </p>
                </div>
                <div class="detail">
                  <label>Video:</label>
                  <p class="description"> {{ dups[dupPage].srcURL }} </p>
                </div>
                <div class="detail">
                  <label>Transcript:</label>
                  <p class="description"> {{ dups[dupPage].docEditURL }} </p>
                </div>
            <!-- </div> -->
        </div>

        <div class="btn-box" id="dup-btn-box">
            <p style="margin-left: 2rem; margin-top: .8rem; font-weight: bolder;" id="message"></p>
            <button type="submit" id="requestSubmit" (click)="useDuplicate(dups[dupPage].objectID)">Use Duplicate</button>
            <button type="submit" id="requestSubmit" (click)="newRequest()">Make New Transcript</button>
            <button class="warning-btn" id="dup-cancel" (click)="closeDup()">Cancel</button>
        </div>

    </div>

</section>


<main>

    <h1 class="page-title">Request</h1>

    <section id="requestForm" class="left-col">
        <input [(ngModel)]="name" id="guestName" placeholder="Name" [class.hide]="!auth.user.isAnonymous">

        <select [(ngModel)]="type" placeholder="Select Type">
            <option disabled hidden [value]="selectUndefinedOptionValue">Select Type</option>
            <option *ngFor="let y of types" [ngValue]="y">{{ y }}</option>
        </select>

        <select [(ngModel)]="course">
            <option [ngValue]="null" hidden>Select Course</option>
            <option id="requestCourse" hidden></option>
        </select>

        <input [(ngModel)]="title" type="text" placeholder="Transcript Title">

        <select [(ngModel)]="priority">
            <option disabled hidden [value]="selectUndefinedOptionValue">Select Priority</option>
            <option *ngFor="let i of priorities" [ngValue]="i">{{ i }}</option>
        </select>

        <input [(ngModel)]="lms" type="url" placeholder="Canvas URL">
        <input  [(ngModel)]="media" type="url" placeholder="Media URL">
        <label id="requestCommentsLabel">
            <h3>Comments</h3>
        </label>
        <input [(ngModel)]="comments" type="text">
    </section>

    <section id="transcript-box-info" class="right-col">
        <h2>Ticket Information</h2>
        <div class="ticketbox  col">
            <div class="detail">
                <label>Media Type:</label>
                <p class="description"> {{ type }} </p>
            </div>
            <div class="detail">
                <label>Course Code:</label>
                <p class="description"> {{ course }} </p>
            </div>
            <div class="detail">
                <label>Title:</label>
                <p class="description"> {{ title }} </p>
            </div>
            <div class="detail">
                <label>Priority:</label>
                <p class="description">{{ priority }} </p>
            </div>
            <div class="detail">
                <label>Location in Course:</label>
                <p class="description"> {{ lms }}</p>
            </div>
            <div class="btn-box">
                <p style="margin-left: 2rem; margin-top: .8rem; font-weight: bolder;" id="message"></p>
                <button type="submit" id="requestSubmit" (click)="newRequest()">Submit</button>
                <button id="dup-btn" (click)="openDup()">Open Dup Checker</button>
            </div>
        </div>
    </section>

</main>
