/*****************************************************
*
*   REQUEST COMPONENT CSS
*
******************************************************/

:root {
    --primary: #0076C6;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #444444;
    --medgray: #777777;
    --lightgray: #dddddd;
    --verylightgray: #f7f7f7;
    --warning: #E85156;
}


#requestForm input {
    width: 100%;
    max-width: 500px
}
#ticketbox {
    display: flex;
    flex-flow: row wrap;
}
.detail {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5px;
}
.detail label {
    width: 100px;
}

.left-col {
    display: flex;
    flex-flow: column nowrap;
}
.right-col {
    background-color: var(--verylightgray);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#dup-modal-content {
    width: 95%;
    max-width: 1100px;
    margin: auto;
}
#dup-modal-content .col {
    width: 100%;
    max-width: 450px;
    margin-left: 25px;
}
#dup-title-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#dup-number {
    width: 200px;
    text-align: center;
}
#dup-title-box i {
    margin: 12px 0;
    padding: 8px 11px;

    border-radius: 50%;
    transition: all .2s;
}
#dup-title-box i:hover {
    background-color: var(--lightgray);
}

.dup-window {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 400px;
    max-width: 500px;
    overflow: auto;
    border-radius: 10px;
}
.dup {
    width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: inset -1px 0px 5px 0px rgba(0,0,0,0.5);
}

#sub-msg {
    width: 100%;
    padding-bottom: 25px;
}
.submitted {
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90%      { transform: translate3d(-1px, 0, 0); }
    20%, 80%      { transform: translate3d(2px, 0, 0);  }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60%      { transform: translate3d(4px, 0, 0);  }
  }