/*****************************************************
*
*   HOME COMPONENT CSS
*
******************************************************/


.left-col, .right-col {
    margin-left: 50px;
}
.left-col {
    display: flex;
    flex-flow: column nowrap;
}
.right-col {
    background-color: var(--verylightgray);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
h1 {
    margin: 25px 50px;
}
#requestForm input {
    width: 100%;
    max-width: 500px
}
#transcript-box-info div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5px;
}
#transcript-box-info label {
    width: 150px;
}