/*****************************************************
*
*   REQUEST COMPONENT CSS
*
******************************************************/

:root {
    --primary: #0076C6;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #444444;
    --medgray: #777777;
    --lightgray: #dddddd;
    --verylightgray: #f7f7f7;
    --warning: #E85156;
}


#requestForm input {
    width: 100%;
    max-width: 500px
}
#ticketbox {
    display: flex;
    flex-flow: row wrap;
}
.detail {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5px;
}
.detail label {
    width: 100px;
}

.left-col, .right-col {
    margin-left: 50px;
}
.left-col {
    display: flex;
    flex-flow: column nowrap;
}
.right-col {
    background-color: var(--verylightgray);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.modal .left-col, .modal .right-col {
    margin: 0;
}
#dup-modal-content {
    width: 95%;
    max-width: 1000px;
    margin: auto;
}
#dup-modal-content .col {
    width: 100%;
    max-width: 500px;
}
#dup-title-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#dup-number {
    width: 200px;
    text-align: center;
}
#dup-title-box i {
    margin: 12px 0;
    padding: 8px 11px;

    border-radius: 50%;
    transition: all .2s;
}
#dup-title-box i:hover {
    background-color: var(--lightgray);
}