<main>

    <h1 class="page-title">Request</h1>

    <section id="requestForm" class="left-col">
        <input [(ngModel)]="name" id="guestName" placeholder="Name" [class.hide]="!auth.user.isAnonymous">

        <select [(ngModel)]="type" placeholder="Select Type">
            <option disabled hidden [value]="selectUndefinedOptionValue">Select Type</option>
            <option *ngFor="let y of types" [ngValue]="y">{{ y }}</option>
        </select>

        <select [(ngModel)]="course">
            <option [ngValue]="null" hidden>Select Course</option>
            <option id="requestCourse" hidden></option>
        </select>

        <input [(ngModel)]="title" type="text" placeholder="Transcript Title">

        <select [(ngModel)]="priority">
            <option disabled hidden [value]="selectUndefinedOptionValue">Select Priority</option>
            <option *ngFor="let i of priorities" [ngValue]="i">{{ i }}</option>
        </select>

        <input [(ngModel)]="lms" type="url" placeholder="Canvas URL">
        <input  [(ngModel)]="media" type="url" placeholder="Media URL">
        <label id="requestCommentsLabel">
            <h3>Comments</h3>
        </label>
        <input [(ngModel)]="comments" type="text">
    </section>

    <section id="transcript-box-info" class="right-col">
        <h2>Ticket Information</h2>
        <div class="ticketbox  col">
            <div>
                <label>Media Type:</label>
                <p class="description"> {{ type }} </p>
            </div>
            <div>
                <label>Course Code:</label>
                <p class="description"> {{ course }} </p>
            </div>
            <div>
                <label>Title:</label>
                <p class="description"> {{ title }} </p>
            </div>
            <div>
                <label>Priority:</label>
                <p class="description">{{ priority }} </p>
            </div>
            <div>
                <label>Location in Course:</label>
                <p class="description"> {{ lms }}</p>
            </div>
            <div>
                <button type="submit" id="requestSubmit" (click)="newRequest()">
                    Submit </button>
                <p style="margin-left: 2rem; margin-top: .8rem; font-weight: bolder;" id="message"></p>
            </div>
        </div>
    </section>

</main>
