.searchbox {
  margin-bottom: 2rem;
  float: right;
  padding: 3px 0;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.table-box {
  width: 95%;
  margin: 30px auto;
  padding: 0;
  color: black;
  background-color: #f7f7f7;
  border: 5px solid var(--primary-color);
  border-radius: 20px;
}
.table-box div {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: #dddddd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.table-head{
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-around;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2vw;
}
.table-head td {
  padding: 3px 30px;
}
.table-box h2{
  width: 80%;
  margin: 20px 20px 0px;
  padding: 10px 20px;
  color: black;
  font-weight: 300;
  font-size: 2.5vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.table-box a {
  width: 10%;
  height: 80px;
  margin: 30px 20px 0 0;
  padding: 20px;
  float: right;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f7f7f7;
  transition: all .2s;
}
.table-box a:hover {
  margin-top: 10px;
  height: 100px;
  background-color: var(--second);
}
.table-box img {
  width: 60%;
  height: auto;
  margin: 20% 25%;
}
