/*****************************************************
*
*   NAV-BAR COMPONENT CSS
*
******************************************************/


#menu-icon {
    display: none;
}
#main-nav {
    width: 100%;
    height: 80px;

    color: #ffffff;
    background-color: var(--primary);
    box-shadow: inset 1px -10px 15px -10px rgba(0,0,0,0.5);
}
#main-nav-box {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}
#nav-links {
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 10px 10px 0px;
}
#main-nav a {
    width: 100px;
    height: 70px;
    padding: 10px;

    color: #ffffff;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#main-nav a.active {
    color: #0076C6;
    background-color: #ffffff;
}
#main-nav li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    text-align: center;
}

#logo-box {
    display: flex;
    width: 80px;
    margin: 5px auto;
    flex-flow: column nowrap;
    align-items: center;
}
#logo-box img {
    width: 50px;
    margin: 5px;
}
#logo-box h2 {
    font-size: 16px;
}
.ais-SearchBox-submit {
    display: none;
}
#nav-search-icon {
    display: none;
}
ais-instantsearch {
    z-index: 1002;
    width: 300px;
    margin-left: auto;
    margin-top: 20px;
}
.ais-SearchBox-input {
    margin: 20px 10px 0 auto;
}
ais-hits {
    display: block;
    width: 600px;
    padding: 15px;
    position: relative;
    right: 300px;

    color: var(--black);
    background-color: var(--white);
    border-left: 4px solid var(--primary);
    border-radius: 15px;
    box-shadow: 0 0 8px 3px var(--darkgray);
    overflow: auto;
}
.ais-Hits-item {
    display: flex;
    flex-flow: row wrap;
    width: 585px;
    margin: 5px;
    padding: 5px;

    color: var(--black);
    background-color: var(--white);
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .1s;
}
.ais-Hits-item:hover {
    background-color: var(--lightgray);
}
.hit-type {
    width: 15%;
    padding-left: 10px;
}
.hit-code {
    width:  15%;
    word-wrap: break-word;
}
.hit-title {
    width: 70%;
}


/*******************************
*   This is a Media Query.
*   It only applies these styles to the website if the screen
*   it's being displayed on is 1000 pixels wide or less.
*******************************/

@media only screen and (max-width: 1000px) {
    ais-search-box {
        display: none;
    }
    #search-icon {
        display: initial !important;
    }
    #main-nav {
        justify-content: space-between !important;
    }
    #menu-icon {
        display: initial;
    }
    #nav-links {
        display: none !important;
    }
}
