<nav id="main-nav">

    <div class="icon-box">
        <i class="fas fa-bars icon" id="menu-icon"></i>
    </div>

    <ul id="nav-links">
        <a id="home-tab" [routerLink]="['/home']" routerLinkActive="active">
        <li><i class="fas fa-home fa-2x"></i>
            Home
        </li>
        </a>
        <a id="request-tab" routerLink="./request" routerLinkActive="active">
        <li> <i class="fas fa-concierge-bell fa-2x bg-white"></i>
            Request
        </li>
        </a>
        <a id="prepare-tab" [routerLink]="['/prepare']" routerLinkActive="router-link-active"  routerLinkActive="active">
        <li> <i class="far fa-file-alt fa-2x"></i>
            Prepare
        </li>
        </a>
        <a id="transcribe-tab" routerLink="/transcibe" routerLinkActive="active">
        <li> <i class="far fa-edit fa-2x"></i>
            Transcribe
        </li>
        </a>
        <a id="copyEdit-tab" routerLink="./copyedit" routerLinkActive="active" class="hide">
        <li> <i class="fas fa-clipboard-check fa-2x"></i>
            Copyedit
        </li>
        </a>
        <a id="copyEditCheck-tab" routerLink="./copycheck" routerLinkActive="active" class="hide">
        <li> <i class="fas fa-check-double fa-2x "></i>
            Final Check
        </li>
        </a>
    </ul>


    <ais-instantsearch [config]="search.config">
        <ais-search-box (change)="searchChanged($event)"></ais-search-box>
        <ais-configure [searchParameters]="{ hitsPerPage: 10 }"></ais-configure>

        <ais-hits *ngIf="showResults">
            <ng-template let-hits="hits">
                <ol class="ais-Hits-list">
                <div *ngFor="let hit of hits" class="ais-Hits-item" (click)="">
                    <p class="hit-type">{{ hit.type }}</p>
                    <div class="hit-code">
                        <div *ngFor="let code of hit.courseCode">
                            <p> {{ code }} </p>
                        </div>
                    </div>
                    <p class="hit-title">{{ hit.title }}</p>
                    <button  (click)="showDetails(hit.objectID)">View</button>
                </div>
                </ol>
            </ng-template>
        </ais-hits>
    </ais-instantsearch>

    <div class="icon-box">
        <i class="fas fa-search icon" id="search-icon"></i>
    </div>

    <div class="icon-box">
        <i class="fas fa-door-open icon" id="logout-icon" (click)="auth.userStatus()"></i>
    </div>

</nav>
