<nav id="main-nav">
  <ul>
      <a >
          <li class="container col center">
              Home
          </li>
      </a>
      <a>
          <li class="container col center">
              Request
          </li>
      </a>
      <a id="prepare">
          <li class="container col center">
              Prepare
          </li>
      </a>
      <a id="transcribe">
          <li class="container col center">Transcribe
          </li>
      </a>
      <a id="copyEdit" class="">
          <li class="container col center">Copyedit
          </li>
      </a>
      <a id="copyEditCheck" class="hide">
          <li class="container col center"> Copyedit Check
          </li>
      </a>
      <a id="master" class="hide" >
          <li class="active container col center">Master
          </li>
      </a>

      <div class="container row center byuiLogo">
          <h2>Accessibility</h2>
      </div>
      <div class="container row center logout btn-hover">
          <p> Log Out </p>
      </div>
  </ul>
</nav>
