/*****************************************************
*
*   NAV-BAR COMPONENT CSS
*
******************************************************/

#main-nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 10px 0px;

    color: #ffffff;
    background-color: #0076C6;
    box-shadow: inset 1px -10px 15px -10px rgba(0,0,0,0.5);
}
#main-nav ul {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}
#main-nav a {
    width: 100px;
    height: 70px;
    padding: 10px;

    color: #ffffff;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#main-nav a.active {
    color: #0076C6;
    background-color: #ffffff;
}
#main-nav li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    text-align: center;
}

#logo-box {
    width: 80px;
    display: flex;
    margin: 5px auto;
    flex-flow: column nowrap;
    align-items: center;
}
#logo-box img {
    width: 50px;
    margin: 5px;
}
#logo-box h2 {
    font-size: 16px;
}
#nav-search-bar {
    display: fixed;
    margin: 10px;
    padding: 10px;
    
    transition: .3s;
}
#search-box img {
    display: none;
}


@media only screen and (max-width: 1100px) {
    #menu-icon {
        display: initial;
    }
    #nav-links {
        display: none !important;
    }
    #search-box input {
        display: none;
    }
    #search-box img {
        display: initial;
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 300px) {
    #main-nav {
        justify-content: space-between;
    }
    #logo-box {
        display: none;
    }
}
