




<table id="tran-search-table">


    <thead id="tran-search-head">

        <tr id="tran-search-headrow">
            <td class="priority-col" id="priority-col-head">Priority</td>
            <td class="course-col"   id="course-col-head"  >Course</td>
            <td class="type-col"     id="type-col-head"    >Type</td>
            <td class="title-col"    id="title-col-head"   >Title</td>
            <td class="length-col"   id="length-col-head"  >Length</td>
            <td class="right-col">
                <input class="search-bar" id="tran-search-bar">
                    <!-- Search Bar -->
                </input>
            </td>
        </tr>

    </thead>


    <tbody id="tran-search-body">

        <tr class="tran-search-row">
            <td class="priority-col"><!-- 1 --></td>
            <td class="course-col"><!-- AAA 100 --></td>
            <td class="type-col"><!-- Video --></td>
            <td class="title-col"><!-- Example Video --></td>
            <td class="length-col"><!-- 432 --></td>
            <button class="tran-search-button"></button>
        </tr>

    </tbody>


</table>