
<h1>Home</h1>

<section class="right-col">
    <div id="banner-box">
        <img class="banner" src="" alt="">
    </div>

    <div id="announcement-box">
        <h2>Announcements</h2>
        <div>Example text of an announcement that will be put here shortly...</div>
    </div>

    <div id="home-links-box">
        <a href="" target="_blank">Google Drive</a>
        <a href="" target="_blank">Verbit</a>
        <a href="" target="_blank">Formating Guide</a>
        <a href="" target="_blank">Training</a>
    </div>
</section>


<section class="left-col">
    <h2>In Progress</h2>

    <div id="claimed-transcript-box">
        <h3>Video</h3>
        <span>The Example Video</span>
        <h3>Course</h3>
        <span>The Example Video</span>
        <h3>Priority</h3>
        <span>The Example Video</span>
        <h3>Course Link</h3>
        <a href="" target="_blank">
            <img src="" alt="">
        </a>
        <h3>Media URL</h3>
        <a href="" target="_blank">
            <img src="" alt="">
        </a>
        <div class="btn-box">
            <button id="return-prep-btn">Return to Prep</button>
            <button id="complete-tran-btn">Complete</button>
        </div>
        <img id="comments-expander" src="" alt="">
    </div>
</section>