@import "partials/main";

main {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    grid-column-gap: 5%;

    section:nth-of-type(1) {
        position: relative;
        background-image: url("../assets/logo3.png");
        background-repeat: no-repeat;
        background-position: 90% 55%;
        background-size: 50%;
        grid-column: 1 /span 2;
        grid-row: 1;

        #opacity {
            background-color: $primary;
            opacity: .8;
            padding: 1em;
            width: 100%;
            height: 100%;

        }

        h2 {
            color: $accent1;
            position: absolute;
            top: 1%;
            left: 10%;
            font-size: 50px;
            margin-top: 50px;
            margin-left: 100px;
        }

        p {
            color: $accent1;
            position: absolute;
            top: 1%;
            right: 10%;
            font-size: 25px;
            margin-top: 60px;
        }

        #profilePic {
            position: absolute;
            top: 35%;
            width: 9.5em;
            height: auto;
            left: 2.0em;
            background: white;
            border-radius: 50%;
            z-index: 1;
        }
    }

    section:nth-of-type(2) {
        position: flex;

        h1 {
            text-align: center;
        }

        p {
            display: flex;
            flex-flow: nowrap;
            align-items: center;

            img {
                height: 3em;
                margin: 0 1em;
            }
            span{
                margin: 1em;
            }
            button{
                margin: 1em;
            }
        }
    }
}