@import "partials/main";

main {
    section {
        &#welcome {
            margin: 2%;
            height: 45%;
            background-color: $secondary;
        }

        &#links {
            margin: 2%;
            height: 45%;
            display: flex;
            justify-content: space-between;

            div {
                background-color: $secondary;
                width: 32%;
                height: 100%;
                position: relative;
                padding: 1em;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;

                span {
                    color: $primary;
                    display: block;
                    &:nth-of-type(1) {
                        font-size: 300%;
                    }

                    &:nth-of-type(2) {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}