@import "partials/main";

main {
    display: grid;
    grid-template-rows: 55% 40%;
    grid-row-gap: 4%;

    section {
        &#welcome {
            margin: 4%;
            margin-bottom: 0;
            background-color: $secondary;
        }

        &#links {
            margin: 4%;
            margin-top: 0;
            display: flex;
            justify-content: space-between;

            a {
                width: 30%;
                div {
                    background-color: $secondary;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    // padding: 1em;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }

                    div {
                        position: absolute;
                        padding: 1em;
                        width: 100%;
                        height: 100%;
                        background-color: $primary;
                        opacity: .7;

                        &:hover {
                            opacity: 0.5;
                        }
                    }

                    p {
                        position: absolute;

                        span {
                            color: $accent1;
                            display: block;

                            &:nth-of-type(1) {
                                font-size: 300%;
                            }

                            &:nth-of-type(2) {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}