@import "partials/main.scss";

body {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 11%;
}

main {
    grid-template-columns: 60% 30%;
    grid-gap: 5%;

    button {
        background-color: $primary;
        width: 25%;
        padding: 1em;
        height: 4em;
        border-radius: 5px;
        color: $accent1;
        border: none;
        margin: 2.5em 0 1em;
        font-weight: bold;
        letter-spacing: 0.15em;
    }

    section#content {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 3em;

        section#left {
            margin-left: 3em;
            margin-bottom: 3em;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 10em;
            grid-gap: 2em;

            div {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: repeat(3, 33%);

                img {
                    grid-column: 1;
                    grid-row: 1 / span 3;
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                }

                div {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1em;
                    background-color: $secondary;
                    width: 100%;
                    height: 100%;
                    grid-row: 1 / span 3;
                    grid-column: 2;
                    p {
                        // grid-column: 2;
                        grid-row: 1;
                        font-weight: bold;
                    }

                    span {
                        // grid-column: 2;
                        grid-row: 2;
                    }

                    button {
                        // grid-column: 2;
                        grid-row: 3;
                        margin: 0;
                        width: 70%;
                        height: 25%;
                        font-size: 0.60rem;
                    }

                    button:hover {
                        opacity: 0.75
                    }
                }
            }
        }

        section#right {
            grid-column: 2;

            div {
                box-shadow: 1px 1px 50px -15px $accent2;
                text-align: center;
                position: sticky;
                top: 10%;
                color: $primary;
                padding: 1em;

                p {
                    font-size: 1em;
                }

                span {
                    display: block;
                    font-size: 2em;
                    font-weight: bold;
                    margin: 1em 0;
                }

                div {
                    position: relative;
                    box-shadow: none;
                    display: flex;
                    flex-flow: column nowrap;
                    width: 80%;
                    margin: 0 auto;

                    p {
                        display: flex;
                        justify-content: space-between;
                    }

                    // margin: 1em 0;
                    span {
                        font-size: 1em;
                    }

                }

                button {
                    width: 100%;
                }
            }
        }
    }
}