@import "partials/main.scss";

body {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 11%;
}

main {
    grid-template-columns: 60% 30%;
    grid-gap: 5%;

    button {
        background-color: $primary;
        width: 25%;
        padding: 1em;
        height: 4em;
        border-radius: 5px;
        color: $accent1;
        border: none;
        margin: 2.5em 0 1em;
        font-weight: bold;
        letter-spacing: 0.15em;
        cursor: pointer;
    }

    section#content {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 3em;

        section#left {
            margin-left: 3em;
            margin-bottom: 3em;
            grid-column: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 10em;
            grid-gap: 2em;

            div {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: repeat(3, 33%);

                img {
                    grid-column: 1;
                    grid-row: 1 / span 3;
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                }

                div {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1em;
                    background-color: $secondary;
                    width: 100%;
                    height: 100%;
                    grid-row: 1 / span 3;
                    grid-column: 2;

                    p {
                        // grid-column: 2;
                        grid-row: 1;
                        font-weight: bold;
                    }

                    span {
                        // grid-column: 2;
                        grid-row: 2;
                    }

                    button {
                        // grid-column: 2;
                        grid-row: 3;
                        margin: 0;
                        width: 70%;
                        height: 25%;
                        font-size: 0.60rem;
                        cursor: pointer;

                        &:disabled {
                            background-color: grey;
                            cursor: initial;
                            &:hover {
                                opacity: 1;
                            }
                        }

                        &:hover {
                            opacity: 0.75
                        }
                    }
                }
            }
        }

        section#right {
            grid-column: 2;

            div {
                box-shadow: 1px 1px 50px -15px $accent2;
                text-align: center;
                position: sticky;
                top: 10%;
                color: $primary;
                padding: 1em;

                p {
                    font-size: 1em;
                }

                span {
                    display: block;
                    font-size: 2em;
                    font-weight: bold;
                    margin: 1em 0;
                }

                div {
                    position: relative;
                    box-shadow: none;
                    display: flex;
                    flex-flow: column nowrap;
                    width: 80%;
                    margin: 0 auto;

                    p {
                        display: flex;
                        justify-content: space-between;

                        span:last-child {
                            position: relative;
                            left: 3em;
                            span {
                                margin: 0 1em;
                                display: inline;
                                left: 0;
                                cursor: pointer;
                            }
                        }
                    }

                    p:first-of-type {
                        display: flex;
                        justify-content: space-between;
                        span {
                            left: 0;
                        }
                    }

                    // margin: 1em 0;
                    span {
                        font-size: 1em;
                    }

                }

                button {
                    width: 100%;
                    cursor: pointer;
                }
            }
        }


    }
}

#checkoutModal {
    div {
        div {
            display: grid;
            grid-template-columns: 1fr 1fr;

            span {
                font-size: 0.75em;
                margin: 0.25em 1em;
            }

            span:nth-of-type(2n) {
                text-align: right;
            }
        }

        p {
            color: $primary;
            font-weight: bold;
            display: inline;
            font-size: 2em;
            margin-right: 2.75em;
        }

        /* The container */
        .container {
            margin-right: 1em;
            display: inline;
            position: relative;
            padding-left: 35px;
            // margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default radio button */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input~.checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked~.checkmark {
            background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked~.checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    }
}



#confirmModal {
    div {
        height: 75%;

        h3 {
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: $primary;
        }

        p {
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: $primary;
        }

        img {
            display: block;
            margin: 0 auto;
            height: 75%;
        }
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-size: 1.5em;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    // display:flex;
    // flex-flow: column nowrap;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}