@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b";
  height: 100vh;
  width: 100%; }

header {
  grid-area: a;
  background-color: #0076c6;
  padding: 2em; }
  header img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  header nav {
    margin-top: 7em; }
    header nav ul a {
      color: #ffffff;
      text-decoration: none; }
      header nav ul a li {
        list-style: none;
        margin: 2em 0;
        text-transform: uppercase; }

main {
  display: grid;
  grid-area: b;
  grid-template-rows: 20% 80%; }
  main h1 {
    padding: 2em;
    grid-column: 1 /span 2;
    font-size: 2.7em;
    color: #727272;
    font-weight: bold;
    padding-left: 2.1em; }

.hide {
  display: none; }

body {
  width: 100%; }

header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 11%; }

main {
  grid-template-columns: 60% 30%;
  grid-gap: 5%; }
  main button {
    background-color: #0076c6;
    width: 25%;
    padding: 1em;
    height: 4em;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    margin: 2.5em 0 1em;
    font-weight: bold;
    letter-spacing: 0.15em;
    cursor: pointer; }
  main section#content {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 3em; }
    main section#content section#left {
      margin-left: 3em;
      margin-bottom: 3em;
      grid-column: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 10em;
      grid-gap: 2em; }
      main section#content section#left div {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33%); }
        main section#content section#left div img {
          grid-column: 1;
          grid-row: 1 / span 3;
          height: 100%;
          display: block;
          margin: 0 auto; }
        main section#content section#left div div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          padding: 1em;
          background-color: #f1f8fe;
          width: 100%;
          height: 100%;
          grid-row: 1 / span 3;
          grid-column: 2; }
          main section#content section#left div div p {
            grid-row: 1;
            font-weight: bold; }
          main section#content section#left div div span {
            grid-row: 2; }
          main section#content section#left div div button {
            grid-row: 3;
            margin: 0;
            width: 70%;
            height: 25%;
            font-size: 0.60rem;
            cursor: pointer; }
          main section#content section#left div div button:hover {
            opacity: 0.75; }
    main section#content section#right {
      grid-column: 2; }
      main section#content section#right div {
        box-shadow: 1px 1px 50px -15px #727272;
        text-align: center;
        position: sticky;
        top: 10%;
        color: #0076c6;
        padding: 1em; }
        main section#content section#right div p {
          font-size: 1em; }
        main section#content section#right div span {
          display: block;
          font-size: 2em;
          font-weight: bold;
          margin: 1em 0; }
        main section#content section#right div div {
          position: relative;
          box-shadow: none;
          display: flex;
          flex-flow: column nowrap;
          width: 80%;
          margin: 0 auto; }
          main section#content section#right div div p {
            display: flex;
            justify-content: space-between; }
            main section#content section#right div div p span:last-child {
              position: relative;
              left: 3em; }
              main section#content section#right div div p span:last-child span {
                margin: 0 1em;
                display: inline;
                left: 0;
                cursor: pointer; }
          main section#content section#right div div p:first-of-type {
            display: flex;
            justify-content: space-between; }
            main section#content section#right div div p:first-of-type span {
              left: 0; }
          main section#content section#right div div span {
            font-size: 1em; }
        main section#content section#right div button {
          width: 100%;
          cursor: pointer; }

#checkoutModal div {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  #checkoutModal div div {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    #checkoutModal div div span {
      font-size: 0.75em;
      margin: 0.25em 1em; }
    #checkoutModal div div span:nth-of-type(2n) {
      text-align: right; }
  #checkoutModal div p {
    color: #0076c6;
    font-weight: bold;
    display: inline;
    font-size: 2em;
    margin-right: 2.75em; }
  #checkoutModal div .container {
    margin-right: 1em;
    display: inline;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #checkoutModal div .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  #checkoutModal div .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
  #checkoutModal div .container:hover input ~ .checkmark {
    background-color: #ccc; }
  #checkoutModal div .container input:checked ~ .checkmark {
    background-color: #2196F3; }
  #checkoutModal div .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  #checkoutModal div .container input:checked ~ .checkmark:after {
    display: block; }
  #checkoutModal div .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white; }

#confirmModal div {
  height: 75%; }
  #confirmModal div h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #0076c6; }
  #confirmModal div p {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #0076c6; }
  #confirmModal div img {
    display: block;
    margin: 0 auto;
    height: 75%; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  font-size: 1.5em; }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: auto; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/*# sourceMappingURL=store.css.map */
