<template>
    <img src="./assests/logo.png">
    <nav>
        <ul>
            <a href="applications.html">
                <li>Applications</li>
            </a>
            <a href="schedule.html">
                <li>Schedule</li>
            </a>
            <a href="time.html">
                <li>Time</li>
            </a>
            <a href="store.html">
                <li>Store</li>
            </a>
            <a href="profile.html">
                <li>Profile</li>
            </a>
        </ul>
    </nav>
</template>