@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$color-white: #FFFFFF;
$color-black: #000000;
$color-lightblue: #8DD6F0;
$color-blue: #0076C6;
$color-orange: #F58300;
$color-lightgrey: #EBEBEB;
$color-grey: #adadad;
$color-darkgrey: #525252;
html,
body {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(26, 4.1%);
    height: 90vh;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    color: $color-white;
    background-color: $color-blue;
    margin: 0;
    padding: 10px;
    // width: 100%;
}

nav {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1; // border-bottom: 1px solid $color-black;
    font-size: 1.1em;
    ul {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            text-align: center;
            color: $color-darkgrey;
            font-weight: bold;
            background-color: $color-lightgrey;
            li {
                list-style: none;
                padding: 0.38em 0.25em;
            }
            &.active {
                background-color: $color-blue;
                color: $color-white;
            }
            &:hover {
                background-color: $color-orange;
                color: $color-white;
            }
        }
    }
}

main {
    grid-column: 1 / span 12;
    grid-row: 4 / span 23;
    padding: 0 2em;
}

#message {
    font-size: 1.25em;
    padding-top: 12px;
}

input[type='submit'],
button {
    border-radius: 10px;
    background-color: $color-blue;
    border-color: $color-lightblue;
    color: $color-white;
    height: 2em;
    font-size: 1rem;
    &:hover {
        cursor: pointer;
    }
}

#btnLogout {
    position: absolute;
    top: 0;
    right: 0;
    width: 6em;
    height: 4em;
    background-color: $color-blue;
    color: $color-white;
    &:hover {
        background-color: $color-orange;
        cursor: pointer;
    }
    li {
        margin: 13px;
    }
}

button a {
    text-decoration: none;
    color: $color-white;
}

/*-- Classes --*/

.hide {
    display: none;
}