@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$color-white: #FFFFFF;
$color-black: #000000;
$color-lightblue: #8DD6F0;
$color-blue: #0076C6;
$color-orange: #F58300;
$color-lightgrey: #EBEBEB;
$color-grey: #adadad;
$color-darkgrey: #525252;
body {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(26, 4.1%);
    height: 90vh;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    text-align: center;
}

nav {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
    ul {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            text-align: center;
            color: $color-darkgrey;
            font-weight: bold;
            background-color: $color-lightgrey;
            border: 1px solid $color-black;
            border-bottom-color: $color-white;
            border-radius: 20px 20px 0px 0px;
            li {
                list-style: none;
                padding: 0.38em 0.25em;
            }
            &.active {
                background-color: $color-blue;
                color: $color-white;
            }
            &:hover {
                background-color: $color-orange;
                color: $color-white;
            }
        }
    }
}

main {
    border: 1px solid $color-black;
    grid-column: 1 / span 12;
    grid-row: 4 / span 23;
    padding: 1em;
}

/*-- Classes --*/
.hide {
    display: none;
}