<main>

  <h1 class="page-title">Profile</h1>

  <section id="admin" class="table-box">
      <div>
          <h2>List of Users</h2>
          <span id="show-all">Show All </span><input type="checkbox" id="checkShow">
          <a class="back-to-profile" href="/portal/profile.html">
              <img src="/portal/assets/misc/backArrow.png" alt="Back to Profile"/>
          </a>
      </div>
      <table class="table-generate" id="users-list-generate">
          <tr>
              <th class="usernum">#</th>
              <th class="username">Name</th>
              <th class="usertime">Accumulated Time </th>
              <th class="userteam">Team</th>
              <th class="usertitle">Title</th>
              <th class="useradmin">Admin</th>
              <th class="userstore">Store</th>
          </tr>
      </table>
  </section>

</main>
