<section class="modal hide" id="view-modal" (click)="clickedOut($event)">

    <div class="modal-content" id="view-modal-content">

        <div class="modal-header-box">
            <h1 class="modal-header" id="edit-info-title">View/Edit Information</h1>
            <h2>Transcript Info</h2>
        </div>

        <div class="modal-body">

            <div class="left-col" id="edit-info-field">
                <div class="detail">
                    <p>Title</p>
                    <div *ngIf="storage.editing; else viewTitle">
                        <input id="edit-info-title" [(ngModel)]="storage.title" />
                    </div>
                    <ng-template #viewTitle>
                        <span id="view-info-title">{{ storage.title }}</span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Stage</p>
                    <div *ngIf="storage.editing; else viewStage">
                        <select id="edit-info-stage">
                            <option *ngFor='let stage of stages' [value]='stage' (selected)="stage == storage.step">{{ stage }}</option>
                        </select>
                    </div>
                    <ng-template #viewStage>
                        <span id="view-info-stage">{{ storage.step }}</span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Priority</p>
                    <div *ngIf="storage.editing; else viewPriority">
                        <select id="edit-info-priority">
                            <option *ngFor='let priority of priorities' [value]='priority' (selected)='storage.priority'>{{ priority }}</option>
                        </select>
                    </div>
                    <ng-template #viewPriority>
                        <span id="view-info-priority">{{ storage.priority }}</span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Type</p>
                    <div *ngIf="storage.editing; else viewType">
                        <select id="edit-info-type">
                            <option *ngFor='let type of types' [value]='type' (selected)='storage.type'>{{ type }}</option>
                        </select>
                    </div>
                    <ng-template #viewType>
                        <span id="view-info-type">{{ storage.type }}</span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Length</p>
                    <div *ngIf="storage.editing; else viewLength">
                        <input id="edit-info-length" type="text" [(ngModel)]="storage.length" />
                    </div>
                    <ng-template #viewLength>
                        <span id="view-info-length">{{ storage.length}} seconds</span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Google Doc Edit Link</p>
                    <div *ngIf="storage.editing; else viewDocedit">
                        <input id="edit-info-docedit" type="text" [(ngModel)]="storage.docEditURL" />
                    </div>
                    <ng-template #viewDocedit>
                        <span id="view-info-docedit"><a [href]="storage.docEditURL" target="_blank">{{ storage.docEditURL }}</a></span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Google Doc Publish Link</p>
                    <div *ngIf="storage.editing; else viewDocpub">
                        <input id="edit-info-docpub" type="text" [(ngModel)]="storage.docPublishURL" />
                    </div>
                    <ng-template #viewDocpub>
                        <span id="view-info-docpub"><a [href]="storage.docPublishURL" target="_blank">{{ storage.docPublishURL }}</a></span>
                    </ng-template>
                </div>


                <div class="detail">
                    <p>Media URL</p>
                    <div *ngIf="storage.editing; else viewMedia">
                        <input id="edit-info-media" type="text" [(ngModel)]="storage.srcURL" />
                    </div>
                    <ng-template #viewMedia>
                        <span id="view-info-media"><a [href]="storage.srcURL" target="_blank">{{ storage.srcURL }}</a></span>
                    </ng-template>
                </div>

                <div class="detail">
                    <p>Verbit Used?</p>
                    <div *ngIf="storage.editing; else viewIsverbit">
                        <select [(ngModel)]="storage.verbit">
                            <option [ngValue]=true (selected)='storage.verbit'>True</option>
                            <option [ngValue]=false (selected)='storage.verbit'>False</option>
                        </select>
                    </div>
                    <ng-template #viewIsverbit>
                        <span id="view-info-isverbit">{{ storage.verbit }}</span>
                    </ng-template>
                </div>

                <div [class.hide]="!storage.verbit">
                    <div class="detail" id="verbit-id-box">
                        <p>Verbit ID</p>
                        <div *ngIf="storage.editing; else viewVerbitID">
                            <input id="edit-info-verbitid" type="text" [(ngModel)]="storage.verbitID" />
                        </div>
                        <ng-template #viewVerbitID>
                            <span id="view-info-isverbit">{{ storage.verbitID }}</span>
                        </ng-template>
                    </div>
                </div>

                <div class="detail">
                    <p>Transcribed by</p>
                    <span id="edit-info-transcribe-by">{{ storage.transcriber }}</span>
                </div>

                <div class="detail">
                    <p>Reviewed by</p>
                    <span id="edit-info-review-by">{{ storage.reviewer }}</span>
                </div>

                <h3 id="comments-header">Comments</h3>
                <div class="detail">
                    <div *ngIf="storage.editing; else viewComments">
                        <textarea id="edit-info-comment" [(ngModel)]="storage.comments">{{ storage.comments }}</textarea>
                    </div>
                    <ng-template #viewComments>
                        <span id="view-info-comments">{{ storage.comments }}</span>
                    </ng-template>
                </div>
            </div>


            <div class="median"></div>


            <div class="right-col" id="notes-info-field">

                <h3 id="loc-title">Locations</h3>
                <a class="hide" id="add-location">+</a>

                <div class="detail" *ngFor="let location of storage.locations">
                    <div *ngIf="storage.editing; else viewLocations" class="edit-loc">
                        <div class="sidebar"></div>
                        <div class="loc">
                            <div>
                                <select [(ngModel)]="location.courseCode">
                                    <option [ngValue]="null" hidden class="initial-opt"(selected)="location.courseCode">Select Course</option>
                                    <option class="requestCourse" hidden (selected)="location.courseCode"></option>
                                </select>
                                <input [(ngModel)]="location.lmsURL" type="url" placeholder="Canvas URL">
                                <input [(ngModel)]="location.requestor" type="text" placeholder="Requestor">
                                <input [(ngModel)]="location.preparer" type="text" placeholder="Preparer">
                            </div>
                        </div>
                    </div>
                    <ng-template #viewLocations class="edit-loc">
                        <div class="sidebar"></div>
                        <div class="loc">
                            <div class="detail">
                                <p>Course</p>
                                <span> {{ location.courseCode }} </span>
                            </div>
                            <div class="detail">
                                <p>LMS URL</p>
                                <span><a href="location.lmsURL"> {{ location.lmsURL }} </a></span>
                            </div>
                            <div class="detail">
                                <p>Requestor</p>
                                <span> {{ location.requestor }} </span>
                            </div>
                            <div class="detail">
                                <p>Preparer</p>
                                <span> {{ location.preparer }} </span>
                            </div>
                        </div>
                    </ng-template>
                </div>

            </div>

        </div>

        <div *ngIf="storage.editing; else viewBtnBox" class="btn-box">
            <button id="confirmEditBtn" (click)="confirmEdit()">Confirm</button>
            <button id="cancelEditBtn" (click)="edit()">Cancel</button>
            <button class="warning-btn" id="btn-delete-transcript" [class.hide]="storage.admin" (click)="storage.delete()">Delete Transcript</button>
        </div>
        <ng-template #viewBtnBox class="btn-box">
            <button id="closeViewBtn" (click)="closeModal()">Close</button>
            <button id="closeViewBtn" class="warning-btn" (click)="edit()" [class.hide]="storage.hider">Edit</button>
        </ng-template>

    </div>

</section>
