.hide {
    display: none;
}

.modal-body {
    height: 65vh;
    overflow: auto;
    border-radius: 10px;
}
.left-col {
    width: 600px;
}    
.right-col {
    width: 300px;
}
.detail, .right-detail {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 3px 0;
}
.detail p {
    width: 120px;
    font-weight: 700;
}
.detail span {

}
.right-detail span {
    width: 
}
.detail a {
    word-break: break-word;
}
.median {
    height: 100%;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 5px;

    font-size: 14px;
    border-radius: 5px;
    outline: none;
}
#comments-header {
    margin-top: 25px;
}
.danger-btn {
    background-color: var(--warning);
    float: right;
}
.danger-btn:hover {
    color: var(--warning);
    background-color: var(--white);
    border: 3px solid var(--warning);
}