.hide {
    display: none;
}

.modal-body {
    height: 65vh;
    overflow: auto;
    border-radius: 10px;
}
.left-col {
    width: 500px;
}    
.right-col {
    width: 400px;
}
.detail {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 3px 0;
}
.detail p {
    width: 120px;
    font-weight: 700;
}
.detail span {
    width: 330px;
}
#notes-info-field span {
    width: 230px;
}
.detail a {
    width: 100%;
    word-break: break-word;
}
.median {
    height: 100%;
}
#loc-title {
    width: 330px;
}
#add-location {
    width: 20px;
    height: 20px;
    padding: 3px;
    
    font-size: 14px;
}
.loc {
    width: 340px;
    padding: 30px !important;
}
.sidebar {
    width: 4px;
    height: 100%;
    margin: 3px;
    border-radius: 5px;
    background-color: slateblue;
}

textarea {
    width: 400px;
    height: 200px;
    padding: 5px;

    font-size: 14px;
    border-radius: 5px;
    outline: none;
}
#comments-header {
    margin-top: 25px;
}
.danger-btn {
    background-color: var(--warning);
    float: right;
}
.danger-btn:hover {
    color: var(--warning);
    background-color: var(--white);
    border: 3px solid var(--warning);
}