@import "../partials/theme_dark.scss";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    clear: both;
}

main {
    overflow: auto;
    h1 { 
        text-align: center;
    }
}

#admin {
    display: flex;
    table {
        th, td {
            text-align:left;
        }
        
    }
}

input {
    visibility: hidden;
    width: 2em;
}