@import "../partials/theme_holiday";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // clear: both;
}

main {
    padding: 3rem 7rem;
    width: 100%;
    overflow: auto;

    h1 {
        text-align: left;
    }
}

#admin {
    display: flex;
    border: auto;
    // align-content: center;
    width: 100%;
    padding: 4em 6em;

    table {
        width: 100vh;

        th,
        td {
            text-align: left;

            span {
                // span {
                padding: 1em;

                button,
                input,
                optgroup,
                select,
                textarea {
                    margin-right: .5rem;
                    width: 2em;
                }
            }

            button:hover {
                opacity: 0.7;
                color: gray;
            }

        }

    }
}

.hide {
    display: none;
}