@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#body-image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-image: url("../../assets/holiday/christmas-body.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  opacity: 0.4; }

header {
  background-image: url("../../assets/holiday/christmas-sidebar.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b";
  height: 100vh;
  width: 100%; }

header {
  grid-area: a;
  background-color: #0076c6;
  padding: 2em; }
  header img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  header nav {
    margin-top: 7em; }
    header nav ul a {
      color: #ffffff;
      text-decoration: none; }
      header nav ul a li {
        list-style: none;
        margin: 2em 0;
        text-transform: uppercase; }

main {
  display: grid;
  grid-area: b;
  grid-template-rows: 20% 80%; }
  main h1 {
    padding: 2em;
    grid-column: 1 /span 2;
    font-size: 2.7em;
    color: #727272;
    font-weight: bold;
    padding-left: 2.1em; }

.hide {
  display: none; }

main {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 100%;
  grid-column-gap: 5%; }
  main section:nth-of-type(1) {
    position: relative;
    background-image: url("../../assets/logo3.png");
    background-repeat: no-repeat;
    background-position: 90% 55%;
    background-size: 50%;
    grid-column: 1;
    grid-row: 1; }
    main section:nth-of-type(1) #opacity {
      background-color: #0076c6;
      opacity: .8;
      padding: 1em;
      width: 100%;
      height: 100%; }
    main section:nth-of-type(1) h2 {
      color: #ffffff;
      position: absolute;
      top: 1%;
      left: 10%;
      font-size: 50px;
      margin-top: 50px;
      margin-left: 100px; }
    main section:nth-of-type(1) p {
      color: #ffffff;
      position: absolute;
      top: 1%;
      right: 10%;
      font-size: 25px;
      margin-top: 60px; }
  main section:nth-of-type(2) {
    padding: 2em;
    height: 100%;
    width: 50%;
    overflow-y: scroll; }
    main section:nth-of-type(2) div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 auto; }
      main section:nth-of-type(2) div p {
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 50%; }
        main section:nth-of-type(2) div p img {
          height: 3em;
          margin: 0 1em; }
        main section:nth-of-type(2) div p span {
          margin: 1em;
          width: 15em; }
        main section:nth-of-type(2) div p button {
          margin: 1em;
          background-color: #0076c6;
          width: 25%;
          padding: 1em;
          height: 3em;
          border-radius: 5px;
          color: #ffffff;
          border: none;
          font-weight: bold;
          letter-spacing: 0.15em;
          cursor: pointer; }
        main section:nth-of-type(2) div p button:hover {
          opacity: 0.8; }
    main section:nth-of-type(2) #editInfo {
      display: inline;
      visibility: hidden;
      width: 30em;
      height: 35em;
      background-color: #0076c6;
      opacity: 0.95;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      top: 17%;
      left: 60%;
      z-index: 1; }
      main section:nth-of-type(2) #editInfo h2 {
        margin-top: .5em;
        margin-bottom: 0.3em;
        font-size: 30px; }
      main section:nth-of-type(2) #editInfo p {
        color: white;
        margin-top: .1em;
        font-size: 30px; }
      main section:nth-of-type(2) #editInfo input {
        position: absolute;
        margin-top: -2em;
        left: 21em;
        border-radius: 3%; }
      main section:nth-of-type(2) #editInfo select {
        position: absolute;
        margin-top: -2em;
        left: 21em;
        border-radius: 3%;
        width: 34%; }
      main section:nth-of-type(2) #editInfo #aboutMe {
        position: absolute;
        left: 39.3em;
        top: 2em; }
      main section:nth-of-type(2) #editInfo #editAboutMe {
        position: absolute;
        left: 35.5em;
        top: 8em;
        height: 14em;
        width: 18em;
        text-align: center;
        word-wrap: break-word;
        word-break: break-all; }
      main section:nth-of-type(2) #editInfo #submitInfoChanges {
        position: absolute;
        margin-top: 1em;
        left: 3em;
        background-color: white;
        border: none;
        height: 4em;
        width: 10em;
        border-radius: 5%;
        color: white;
        cursor: pointer;
        background-color: #7fc4fd;
        font-size: 16px; }
        main section:nth-of-type(2) #editInfo #submitInfoChanges:hover {
          opacity: 0.8; }
      main section:nth-of-type(2) #editInfo #cancelInfoChanges {
        position: absolute;
        margin-top: 1em;
        left: 17em;
        background-color: white;
        border: none;
        height: 4em;
        width: 10em;
        border-radius: 5%;
        color: white;
        cursor: pointer;
        background-color: #7fc4fd;
        font-size: 16px; }
        main section:nth-of-type(2) #editInfo #cancelInfoChanges:hover {
          opacity: 0.8; }

/*# sourceMappingURL=editUser_holiday.css.map */
