/***********************************************************
* CSS Table of Conttents
* 1. Imports
* 2. Root Vars
* 3. General Rules
* 4. Home Page Styles
********************************************************** */

/***********************************************************
* 1. Imports
************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/***********************************************************
* 2. Root Vars
************************************************************/
// Colors
$primary: #0076c6;
$secondary: #f1f8fe;
$third: #7fc4fd;
$accent1: #ffffff;
$accent2: #727272;
$background: #ffffff;
$TimeBackgrounds: #5592d7;
$backgroundLight: #f7f7f7;


/***********************************************************
* 3. General Rules
************************************************************/