@import "../partials/theme_holiday";

main {
    display: grid;
    grid-template-rows: 20% 80%;

    section {
        margin: 5em;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 40%);
        grid-gap: 0.5em;

        div {
            position: relative;
            background-color: $third;
            color: $accent1;
            width: 100%;
            // opacity: 0.5;

            img {
                height: 100%;
                z-index: -1;
            }

            span {
                position: absolute;
            }

            p {
                font-weight: bold;
            }

            a {
                margin: 1em 0;
                display: block;
                text-decoration: none;
                color: $primary;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(10),
            &:nth-of-type(11) {
                &:hover{
                    cursor:pointer;
                    opacity: 0.65;
                }
                font-size: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &:nth-of-type(6),
            &:nth-of-type(12) {
                background-color: initial;
                color: $primary;
            }
        }
    }
}