@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#body-image {
  display: none; }

header {
  background-image: none; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b";
  height: 100vh;
  width: 100%; }

header {
  grid-area: a;
  background-color: #0076c6;
  padding: 2em; }
  header img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  header nav {
    margin-top: 7em; }
    header nav ul a {
      color: #ffffff;
      text-decoration: none; }
      header nav ul a li {
        list-style: none;
        margin: 2em 0;
        text-transform: uppercase; }

main {
  display: grid;
  grid-area: b;
  grid-template-rows: 20% 80%; }
  main h1 {
    padding: 2em;
    grid-column: 1 /span 2;
    font-size: 2.7em;
    color: #727272;
    font-weight: bold;
    padding-left: 2.1em; }

.hide {
  display: none; }

main {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 35% 65%;
  /* Modal Content */
  /* The Close Button */ }
  main section:nth-of-type(1) {
    margin: 3em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 2.5em; }
    main section:nth-of-type(1) span {
      margin-bottom: 20px; }
    main section:nth-of-type(1) .button {
      width: 99%; }
      main section:nth-of-type(1) .button div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; }
      main section:nth-of-type(1) .button #calculator {
        width: 30px;
        height: 30px; }
    main section:nth-of-type(1) button {
      background-color: #0076c6;
      width: 100%;
      padding: 1em;
      height: 4em;
      border-radius: 5px;
      color: #ffffff;
      border: none;
      margin: 2.5em 0 1em;
      font-weight: bold;
      letter-spacing: 0.15em;
      cursor: pointer; }
      main section:nth-of-type(1) button#checkInBtn, main section:nth-of-type(1) button#checkOutBtn {
        margin-top: 0;
        width: 48%;
        height: 5em; }
      main section:nth-of-type(1) button:hover {
        opacity: 0.75; }
    main section:nth-of-type(1) div#countdownContainer {
      display: flex; }
      main section:nth-of-type(1) div#countdownContainer div {
        border-radius: 5%;
        background-color: #0076c6;
        color: #ffffff;
        margin: 0.4rem;
        padding: 3rem 1.75rem 1rem;
        text-align: center; }
        main section:nth-of-type(1) div#countdownContainer div p {
          margin-top: 1em;
          font-size: 1.5rem; }
        main section:nth-of-type(1) div#countdownContainer div span {
          border-radius: 5%;
          font-size: 6.25rem;
          height: 1rem;
          padding: 1rem;
          text-align: center;
          color: #727272;
          background-color: #ffffff; }
  main section:nth-of-type(2) {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 8rem 4rem 0rem;
    margin: 3em 0; }
    main section:nth-of-type(2) a {
      background-color: #0076c6;
      padding: 3rem;
      height: 25.5%;
      border-bottom: 1;
      border-radius: 25px;
      justify-content: center;
      position: relative;
      font-size: 2.5rem;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold; }
    main section:nth-of-type(2) a:hover {
      opacity: 0.75; }
  main #calculator:hover {
    opacity: 0.75; }
  main .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-size: 1.5em; }
    main .modal input {
      text-align: center;
      position: relative;
      margin: 0.7em;
      font-size: 0.8em; }
    main .modal span {
      margin: 2em; }
      main .modal span.close {
        margin: 0; }
    main .modal button {
      background-color: #0076c6;
      width: 100%;
      padding: 1em;
      height: 4em;
      border-radius: 5px;
      color: #ffffff;
      border: none;
      margin: 2.5em 0 1em;
      font-weight: bold;
      letter-spacing: 0.15em;
      cursor: pointer; }
      main .modal button:hover {
        opacity: 0.75; }
  main .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 52%; }
  main .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  main .close:hover,
  main .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }
  main table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; }
  main td,
  main th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; }
  main tr:nth-child(even) {
    background-color: #dddddd; }

/*# sourceMappingURL=time_light.css.map */
