// Colors
$primary: #0076c6;
$secondary: #f1f8fe;
$third: #7fc4fd;
$accent1: #ffffff;
$accent2: #727272;
$background: #ffffff;
$TimeBackgrounds: #5592d7;
$backgroundLight: #f7f7f7;

// Background Images
$sidebar-image: "christmas-sidebar.png";
$body-image: "christmas-body.png";
#body-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-image: url("../assets/holiday/" + $body-image);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
    opacity: 0.4;
    // z-index: 1;
}

header {
    background-image: url("../assets/holiday/" + $sidebar-image);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

// Main
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "a b b b b b b b b b"
        "a b b b b b b b b b"
        "a b b b b b b b b b"
        "a b b b b b b b b b"
        "a b b b b b b b b b";
    height: 100vh;
    width: 100%;
}

header {
    grid-area: a;
    background-color: $primary;
    padding: 2em;

    img {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    nav {
        margin-top: 7em;
        ul {
            a {
                color: $accent1;
                text-decoration: none;
                li {
                    list-style: none;
                    margin: 2em 0;
                    text-transform: uppercase;
                }
            }
        }
    }
}

main {
    display: grid;
    grid-area: b;
    grid-template-rows: 20% 80%;
    
    h1 {
        padding: 2em;
        grid-column: 1 /span 2;
        font-size: 2.7em;
        color: $accent2;
        font-weight: bold;
        padding-left: 2.1em;
    }

}

// Classes
.hide {
    display: none;
}