/*****************************************************
*
*   GENERAL STYLES CSS
*
******************************************************/


@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,700&display=swap');


:root {
    --primary: #0076C6;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #444444;
    --medgray: #777777;
    --lightgray: #dddddd;
    --verylightgray: #f7f7f7;
    --warning: #E85156;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    transition: all .2s;
}

.main-box {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 25px;
}
.left-col, .right-col {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
    width: 50%;
    max-width: 725px;
    margin-top: 10px;
    padding: 0 25px;

    border-radius: 10px;
}
h1 {
    width: 100%;
    font-family: "Merriweather";
    font-size: 32px;
}
.page-title {
    width: 1500px;
    padding: 50px 25px;
}
h2 {
    width: 100%;
    padding: 25px 0;

    font-family: "Merriweather";
    font-weight: 300;
    font-size: 20px;
}
h3, h4, h5, h6 {
    width: 50%;
    padding: 5px 0 ;

    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
a {
    text-decoration: none;
    font-weight: 700;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;

    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}
.icon:hover {
    box-shadow: 0 0 5px 0px var(--black);
}
.icon:active {
    box-shadow: none;
}


.links-box {
    display: flex;
    flex-flow: row wrap;
    margin: 50px 0;
}
.links-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100px;
    margin: 5px;

    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 3px 0px var(--black);
    cursor: pointer;
}

input, select {
    width: 100%;
    max-width: 250px;
    margin: 5px;
    padding: 4px 10px;

    border: 1px solid var(--primary);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
input:hover, input:active, select:hover, select:active {
    box-shadow: 0 0 5px 0px var(--black);
}
::-webkit-input-placeholder {
    opacity: .4;
}

.btn-box {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}
button {
    width: 100%;
    max-width: 150px;
    margin: 2px;
    padding: 10px 15px;

    font-size: 13px;
    color: var(--white);
    background-color: var(--primary);
    border: 3px solid var(--white);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all .1s;
}
button:hover {
    color: var(--primary);
    background-color: var(--white);
    border: 3px solid var(--primary);
}
.warning-btn {
    margin-left: auto;
    background-color: var(--warning);
}
.warning-btn:hover {
    color: var(--warning);
    background-color: var(--white);
    border: 3px solid var(--warning);
}

.hide {
    display: none !important;
}
.blur {
    filter: blur(5px) !important;
}


::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    padding: 4px;
    background: var(--lightgray);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--medgray);
    border-radius: 10px;
    transition: all .2s;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary); 
}

.search-panel {
    width: 100%;
}
.search-panel__results {
    width: 100%;
}
table {
    width: 100%;
    padding: 10px 80px;
}
.table-headers .priority-col{
    width: 70px;
}
.table-headers .length-col{
    padding-right: 15px;
}
th {
    text-align: left;
}
tr {
    width: 100%;
}
.priority-col {
    width: 100px;
    text-align: center;
}
.course-col {
    width: 100px;
}
.type-col {
    width: 100px;
}
.title-col {
    width: 1200px;
}
.length-col {
    width: 100px;
    text-align: right;
}
.last-col {
    width: 500px;
}
.pagination {
    margin: 50px auto 100px;
}
.search-box {
    position: relative;
}
.table-box button {
    width: 45%;
}

.modal {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}
.modal-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 50px auto;
    padding: 25px;

    background-color: var(--white);
    border-radius: 10px;
    border-left: 10px solid var(--primary);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    overflow: auto;
}
.modal-header-box, .modal-body, .modal-body h2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 15px 0;
}
.modal-body .left-col, .modal-body .right-col {
    width: 320px;
}
.median {
    width: 2px;
    height: 80%;
    margin-top: 50px;
    border-radius: 2px;
    background-color: var(--lightgray);
}

.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    padding-top: 5px;
}
.icon {
    margin: auto;
    font-size: 24px;
}


@media only screen and (max-width: 1000px) {

    .left-col, .right-col {
        width: 100%;
    }
}