/*****************************************************
*
*   GENERAL STYLES CSS / [styles.css]
*
*   a. Imports
*   1. Variables
*   2. General
*   3. Headings
*   4. Icons
*   5. Links
*   6. Form Inputs
*   7. Buttons
*   8. Hide & Blur
*   9. Scrollbar
*   10. Transcript Tables
*   11. Modals
*   12. Screen Sizes (Media Queries)
*
******************************************************/


/****************************
 *  a. IMPORTS
 ****************************/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,700&display=swap');




/****************************
 *  1. VARIABLES
 ****************************/

:root {
    --primary: #0076C6;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #444444;
    --medgray: #777777;
    --lightgray: #dddddd;
    --verylightgray: #f7f7f7;
    --warning: #E85156;
}



/****************************
 *  2. GENERAL
 ****************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    outline: none;
}

.main-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 25px;
}
.left-col, .right-col {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
    width: 50%;
    max-width: 725px;
    margin-top: 10px;
    padding: 0 25px;

    border-radius: 10px;
}

.routeContainer {
    position: relative;
}
.routeContainer>* {
    display: block;
}



/****************************
 *  3. HEADINGS
 ****************************/

h1 {
    width: 100%;
    font-family: "Merriweather";
    font-size: 32px;
}
.page-title {
    width: 1500px;
    padding: 25px 25px 75px;
}
h2 {
    width: 100%;
    padding: 25px 0;

    font-family: "Merriweather";
    font-weight: 300;
    font-size: 20px;
}
h3, h4, h5, h6 {
    width: 50%;
    padding: 5px 0 ;

    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
a {
    text-decoration: none;
    font-weight: 700;
}




/****************************
 *  4. ICONS
 ****************************/

 .icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    padding-top: 5px;
}
.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;

    text-align: center;
    font-size: 24px;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}
.icon:hover {
    box-shadow: 0 0 5px 0px var(--black);
}
.icon:active {
    box-shadow: none;
}



/****************************
 *  5. LINKS
 ****************************/

.links-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 50px 0;
}
.links-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
    margin: 15px;

    text-align: center;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 20px;
    box-shadow: 0 0 3px 0px var(--black);
    cursor: pointer;
}




/****************************
 *  6. FORM INPUTS
 ****************************/

input, select {
    width: 100%;
    max-width: 250px;
    margin: 5px;
    padding: 4px 10px;

    border: 1px solid var(--primary);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
input:hover, input:active, select:hover, select:active {
    box-shadow: 0 0 5px 0px var(--black);
}
::-webkit-input-placeholder {
    opacity: .4;
}
.checkbox {
    width: 15px;
    height: 15px;

    border-style: none;
    border: 2px solid var(--primary);
    background-color: var(--white);
}
textarea {
    width: 450px;
    height: 150px;
    padding: 5px;

    font-size: 14px;
    border-radius: 5px;
    outline: none;
}


/****************************
 *  7. BUTTONS
 ****************************/

.btn-box {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}
button {
    width: 100%;
    max-width: 130px;
    margin: 5px 10px;
    padding: 10px 15px;

    font-size: 13px;
    color: var(--white);
    background-color: var(--primary);
    border: 3px solid var(--white);
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    transition: all .1s;
}
button:hover {
    color: var(--primary);
    background-color: var(--white);
    border: 3px solid var(--primary);
}
.warning-btn {
    margin-left: auto;
    background-color: var(--warning);
}
.warning-btn:hover {
    color: var(--warning);
    background-color: var(--white);
    border: 3px solid var(--warning);
}
.black-btn {
  background-color: black;
  border: none;
  font-weight: 600;
  height: 40px;
  width: 120px;
  position: relative;
  float: right;
  margin: 18px 0 0 0;
  transition: all 0.3s;
  text-align: center;
}
.black-btn:hover {
  color: var(--black);
  border: 3px solid var(--black);
}




/****************************
 *  8. HIDE & BLUR
 ****************************/

.hide {
    display: none !important;
}
.blur {
    filter: blur(10px) !important;
}




/****************************
 *  9. SCROLLBAR
 ****************************/

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    padding: 4px;
    background: var(--lightgray);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--medgray);
    border-radius: 10px;
    transition: all .2s;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}




/****************************
 *  10. TRANSCRIPT TABLES
 ****************************/

.search-panel {
    width: 100%;
}
.search-panel__results {
    width: 100%;
}
table {
    width: 100%;
    padding: 10px 40px;
}
.table-headers .priority-col{
    width: 70px;
}
.table-headers .length-col{
    padding-right: 15px;
}
th {
    text-align: left;
}
tr {
    width: 100%;
}
.priority-col {
    width: 100px;
    text-align: center;
}
.course-col {
    width: 100px;
}
.type-col {
    width: 100px;
}
.title-col {
    width: 1200px;
}
.length-col {
    width: 100px;
    text-align: right;
}
.last-col {
    width: 500px;
}
.pagination {
    margin: 50px auto 100px;
}
.search-box {
    position: relative;
}
.table-box button {
    width: 45%;
}
.ais-SearchBox button {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 3px;
}




/****************************
 *  11. MODALS
 ****************************/

.modal {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}
.modal-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 50px auto;
    padding: 25px;

    background-color: var(--white);
    border-radius: 10px;
    border-left: 10px solid var(--primary);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    overflow: auto;
}
.modal-header-box, .modal-body, .modal-body h2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 15px 0;
}
.modal-body .left-col, .modal-body .right-col {
    width: 320px;
}
.median {
    width: 2px;
    height: 80%;
    margin-top: 50px;
    border-radius: 2px;
    background-color: var(--lightgray);
}




/****************************
 *  12. SCREEN SIZE: Tablet
 ****************************/

@media only screen and (max-width: 800px) {

    .left-col, .right-col {
        width: 100%;
    }
}
