/*****************************************************
*
*   GENERAL STYLES CSS
*
******************************************************/
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,700&display=swap');


:root {
    --primary: #0076C6;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #444444;
    --lightgray: #eeeeee;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather";
    font-size: 32px;
}
h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-size: 20px;
}
a {
    text-decoration: none;
    font-weight: 700;
}

.hide {
    display: none;
}
.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;

    border-radius: 50%;
    transition: .2s;
}
.icon:hover {
    box-shadow: 0 0 5px 0px var(--black);
}
.icon:active {
    box-shadow: none;
}

input {
    width: 100%;
    max-width: 250px;
    margin: 5px;
    padding: 4px 10px;

    border: none;
    border-style: none;
    border-radius: 50px;
    outline: none;
}
input:hover, input:active {
    box-shadow: 0 0 5px 0px var(--black);
}
button {
    width: auto;
    margin: 2px;
    padding: 10px 15px;

    font-size: 13px;
    color: var(--white);
    background-color: var(--primary);
    border-style: none;
    border-radius: 3px;
    outline: none;
}

dialog {
    margin: 50px auto;
    padding: 250px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px var(--black);
}