<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to the BYU-Idaho Accessibility Site</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
        <input placeholder="your email" [(ngModel)]="email" type="email" name="email" required>
        <input  placeholder="your password" [(ngModel)]="password" type="password" name="password" required>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="afAuth.login(email, password)" color="primary">Login</button>
    <button (click)="afAuth.signup(email, password)" color="primary">Signup</button>
    <button (click)="afAuth.guestMode()" color="primary">Continue as Guest</button>
  </mat-card-actions>
</mat-card>
