<section class="modal">

    <div class="modal-content">
        <h1 class="modal-header">Sign In Required</h1>

        <div class="modal-body">
            <div class="left-col">
                <h2>Sign In</h2>
                <div class="modal-inputs">
                    <input type="text" id="signin-email">
                    <input type="text" id="signin-password">
                </div>
                <div class="btn-box">
                    <button id="signin-btn">Sign In</button>
                    <button id="cancel-btn">Cancel</button>
                </div>
            </div>

            <div class="right-col">
                <h2>Continue As Guest</h2>
                <div class="btn-box">
                    <button id="guest-btn">Guest</button>
                </div>
            </div>
        </div>
    </div>

</section>