<section class="modal hide" id="signin-modal">

    <div class="modal-content" id="signin-modal-content">
        <h1 class="modal-header">Log In Required</h1>

        <div class="modal-body">
            <div class="left-col">
                <h2>Log In</h2>
                <div class="modal-inputs">
                    <p>BYU-I Email</p>
                    <input type="text" id="signin-email" placeholder="*******@byui.edu" [(ngModel)]="email" />
                    <p>Password</p>
                    <input type="password" id="signin-password" placeholder="********" [(ngModel)]="password" />
                </div>
                <div class="btn-box">
                    <button id="signin-btn" (click)="signIn()">Log In</button>
                    <button id="cancel-btn">Sign Up</button>
                </div>
            </div>

            <div class="right-col">
                <h2>Continue As Guest</h2>
                <div class="btn-box">
                    <button (click)="guest()" id="guest-btn">Guest</button>
                </div>
            </div>
        </div>
    </div>

</section>
