/***********************************************************
*
*   Home Page Styles
*
***********************************************************/

.home-content {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    position: relative;
}

#time-n-date {
    width: 100%;
    display: none;
}

#welcome {
    width: 100%;
    max-width: 800px;
}
.slideshow-container {
    position: relative;
    
    border-radius: 15px;
    overflow: hidden;
}
.slide-btn {
    display: none;
}
#dots-box {
    display: flex;
    justify-content: center;
    width: 100%;
}
.dot {
    width: 20px;
    height: 20px;
    margin: 5px;

    border-radius: 50px;
    background-color: var(--lightgray);
}
.active-dot {
    background-color: var(--darkgray);
}

.time-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.time-box div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 110px;
    height: 80px;
    margin: 15px 5px;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border: none;
    background-color: var(--first);
    border-radius: 30px;
    transition: all .2s;
}
.btn2:hover {
    transform: scale(1.05);
}
.btn2 p, .btn2 span {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
}
#break-btn {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
#break-timer {
    margin-top: -10px;
    font-size: 36px;
}
.btn-note {
    margin: 2px 0;
    font-size: 11px;
}

.links-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
}
.box-link {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;

    background-color: var(--first);
    border-radius: 15px;
    overflow: hidden;
    transition: all .2s;
}
.box-link:hover {
    transform: scale(1.1);
}
.box-link p {
    position: absolute;
    bottom: 15px;
    left: 15px;

    color: var(--white);
    font-size: 14px;
    font-weight: 300;
    font-family: "Merriweather";
}
.box-link img {
    opacity: .6;
}


/***********************************************************
*   Media Queries
***********************************************************/

@media only screen and (min-width: 800px) {

    #time-n-date {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    #time {
        font-size: 4vw;
        font-weight: 300;
    }
    #apm {
        margin-top: -10px;
        font-size: 1vw;
    }
    #date {
        font-size: 1vw;
        font-weight: 700;
    }

    #welcome {
        width: 70%;
        max-width: 70%;
    }
    .slide-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        width: 20%;
        height: 100%;
    
        position: absolute;
        top: 0;
        transition: all .2s;
    }
    .slide-btn p {
        padding: 10px;
        color: var(--white);
        font-size: 16px;
        transition: all .2s;
    }
    .next {
        justify-content: flex-end;
        right: 0;
    }
    .prev:hover {
        background: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);
    }
    .prev:hover p {
        font-size: 24px;
    }
    .next:hover {
        background: linear-gradient(to left, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);
    }
    .next:hover p {
        font-size: 24px;
    }

    .time-box {
        width: 30%;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .time-box div {
        width: 70%;
        max-width: 70%;
        height: 8vw;
    }
    #clockbtn p, #clockbtn span {
        font-size: 2vw;
    }
    #break-btn {
        transition: all .5s,
                    bottom .125s 0s,
                    right .125s 0s,
                    top .125s .125s,
                    left .25s .25s;

    }
    #break-btn.expanded {
        z-index: 5;
        position: absolute;
        top: -5px;
        left: -5px;
        right: 25px;
        bottom: 25px;
        transition: all .5s,
                    top .125s 0s,
                    left .25s 125s,
                    bottom .125s .375s,
                    right .125s .375s;
    }
    #break-words {
        font-size: 1.5vw;
    }
    #break-timer {
        font-size: 3vw;
    }
    .btn-note {
        font-size: .7vw;
    }


    .links-box {
        width: 70%;
        margin-top: 0;
    }
    .box-link {
        width: 16%;
        height: 9vw;
        margin: 10px;
    }
    .box-link p {
        font-size: 1vw;
    }
}