<main>

    <h1 class="page-title col7">Home</h1>

    <!---------------------------------------------
    - 4a. SLIDE SHOW
    -     This is where you will add any announcements
    -     and banners to the slideshow on the home page
    -     of the portal.
    -     If the number of slides changes, make sure to
    -     change the number of dots, accordingly.
    ---------------------------------------------->

    <section class="home-content col8">

        <!---------------------------------------------
        - 4a. TIME N DATE
        -     Where the time and date is displayed on Home Screen
        ---------------------------------------------->
    
        <section id="time-n-date">
            <p id="time"> {{ today | date:'h:mm' }} </p>
            <p id="apm"> {{ today | date:'a' | lowercase }} </p>
            <p id="date"> {{ today | date:'EEEE, MMMM d' }} </p>
        </section>

        <!---------------------------------------------
        - 4b. SLIDESHOW
        -     Where the banner slideshow is displayed on the Home Screen
        ---------------------------------------------->

        <section id="welcome">
            <div class="slideshow-container">

                <div id="slide-box">
                    <a class="slide" href="https://docs.google.com/spreadsheets/d/1DetufZwdKE5uq7tZWAfLuKM6HNs3IxXC_zZ48quGS04/edit#gid=1426389316" target="_blank">
                        <img src="assets/banners/reminderDevotional.jpg">
                    </a>
                    <a class="slide" href="https://docs.google.com/spreadsheets/d/18U2hkUafZ1EXmtze9BWI_1U4t6619uy4FZmPiQxfWss/edit#gid=590424193" target="_blank">
                        <img src="assets/banners/reminderFridgeCleaning.jpg">
                    </a>
                    <a class="slide" href="https://docs.google.com/spreadsheets/d/1oXLNWu9sWyWhDwcTurzDvNF-Wo-B5SXeywuMD_hKfqM/edit#gid=0" target="_blank">
                        <img src="assets/banners/reminderFTC.jpg">
                    </a>
                </div>

                <a class="slide-btn prev" (click)="prevSlide()"><p><i class="fas fa-chevron-left"></i></p></a>
                <a class="slide-btn next" (click)="nextSlide()"><p><i class="fas fa-chevron-right"></i></p></a>

            </div>

            <div id="dots-box">
                <span class="dot active-dot" (click)="nowThisSlide(0)"></span>
                <span class="dot" (click)="nowThisSlide(1)"></span>
                <span class="dot" (click)="nowThisSlide(2)"></span>
            </div>

        </section>

        <!---------------------------------------------
        - 4c. CLOCKED IN
        -     Where the Clock-In/Clock-Out & Take Break buttons are displayed on the Home Screen
        ---------------------------------------------->
        
        <section class="time-box">
            <div>
                <button class="btn2" id="clockbtn" (click)="clockInOut()">
                    <p id="clockp">Clock <span [class.hide]="time.check">In</span><span [class.hide]="!time.check">Out</span></p>
                </button>
                <a class="btn-note" href="https://www.myworkday.com/byuhi/d/home.htmld" target="_blank">{{ checkMsg }}</a>
            </div>
            <div>
                <button class="btn2 active" id="break-btn" [class.hide]="!time.check" (click)="takeBreak()">
                    <p id="break-words">{{ breakBtn }}</p>
                    <p id="break-timer">{{ breakMins }} : {{ breakSecs }}</p>
                </button>
                <p class="btn-note">{{ breakTime }}Last break finished @ 9:15 am</p>
            </div>
        </section>

        <!---------------------------------------------
        - 4d. LINKS
        -     Where all the links are displayed on the Home Screen
        ---------------------------------------------->

        <section class="links-box">

            <div class="box-link" id="canvas">
                <a href="https://byui.instructure.com/login/canvas" target="_blank" >
                    <img src="./assets/icons/canvas.png" alt="Canvas Icon"/>
                    <p>Canvas</p>
                </a>
            </div>

            <div class="box-link" id="pathway">
                <a href="https://pathway.brightspace.com/d2l/local" target="_blank" >
                    <img src="./assets/icons/pathway.png" alt="Pathway Icon"/>
                    <p>Pathway</p>
                </a>
            </div>

            <div class="box-link" id="brightspace">
                <a href="http://byui.brightspace.com/d2l/local" target="_blank" >
                    <img src="./assets/icons/brightspace.png" alt="Brightspace Icon"/>
                    <p>Brightspace</p>
                </a>
            </div>

            <div class="box-link" id="googledrive">
                <a href="https://drive.google.com/drive/team-drives" target="_blank" >
                    <img src="./assets/icons/drive.png" alt="Google Drive Icon"/>
                    <p>Google Drive</p>
                </a>
            </div>

            <div class="box-link" id="office365">
                <a href="https://outlook.office365.com/owa/?realm=byui.edu&exsvurl=1&ll-cc=1033&modurl=0" target="_blank" >
                    <img src="./assets/icons/office365.png" alt="Office 365 Icon"/>
                    <p>Office 365</p>
                </a>
            </div>

            <div class="box-link" id="katana">
                <a href="http://10.5.188.122:8000/" target="_blank" >
                    <img src="./assets/icons/katana.png" alt="Katana Icon"/>
                    <p>Katana</p>
                </a>
            </div>

            <div class="box-link" id="equella">
                <a href="https://content.byui.edu/access/home.do" target="_blank" >
                    <img src="./assets/icons/equella.png" alt="Equella Icon"/>
                    <p>Equella</p>
                </a>
            </div>

            <div class="box-link" id="trello">
                <a href="https://trello.com/b/Jop28eai/online-canvas-transition" target="_blank" >
                    <img src="./assets/icons/trello.png" alt="Trello Icon"/>
                    <p>Trello</p>
                </a>
            </div>

            <div class="box-link" id="accessibility">
                <a href="https://byui-accessibility-redemption.web.app/" target="_blank" >
                    <img src="./assets/icons/accessibility.png" alt="Accessibility Icon"/>
                    <p>Accessibility</p>
                </a>
            </div>

            <div class="box-link" id="googlechat">
                <a href="https://chat.google.com/room/AAAAGWGIzV4" target="_blank" >
                    <img src="./assets/icons/googleChat.png" alt="Google Chat Icon"/>
                    <p>Google Chat</p>
                </a>
            </div>

        </section>

    </section>

</main>