main {
  display: flex;
  justify-content: space-around;
}
#requestForm {
  display: flex;
  flex-flow:column;
  max-width: 40%;
  height: 100vh;
  padding: 1rem 4rem;
 }

 #ticketInfo {
   display: flex;
   flex-flow: column;
   max-width: 50%;
 }

input,
select {
  height: 2.5rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border-color: var(--primary-color); 
  width: 70%;
  margin: .7rem;
}

#verbit { 
  visibility: hidden;
  position: absolute;
  top: 6.6rem;
  left: 40rem;
  display: flex;
  flex-direction: row;
  text-align: right;
  height: 5rem;
  width: 5rem;
}

#verbit input { 
  position: absolute;
  top: 2rem;
}

#verbit h3 { 
  position: absolute;
  top: 2.5rem;
  left: 4rem;
}

#timeCalc { 
  position: absolute;
  top: 36.9rem;
  left: 41rem;
  display: flex;
  flex-direction: row;
  text-align: right;
}
#timeCalc:hover { 
  opacity: 0.7;
  cursor: pointer;
}

h3 {
  margin: 5px 0;
  font-size: 1.2rem;
  padding: 0 1rem;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  /* The Close Button */ }
  .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .modal-content .close:hover, .modal-content .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

#form {
  padding: 1em;
  text-align: left; }
  #form input {
    width: 100%;
    font-size: 14px;
    margin: .5em;
    padding: .5em;
    height: 3em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  #form input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #808080;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block; }
    #form input[type=checkbox]:checked {
      background-color: #0076c6;
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: #99a1a7; }
  #form table {
    margin-right: auto;
    margin-left: auto; }

  h2 {
  text-align: center; }

  #ticketInfo { 
    max-width: 50%;
    padding-top: 2rem;
  }

  #ticketInfo h3 { 
    text-align: center;
  }
  #ticketInfo #ticketbox {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap-reverse; */
    line-height: 3rem;
    text-align: center;
  }

  #ticketInfo #ticketbox p { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
