/***********************************************************
* CSS Table of Conttents
* 1. Imports
* 2. General Style Rules
*  2a. Login
*  2b. Content Pages
* 3. Mobile Styles
* 4. Large Screen Styles
********************************************************** */

/***********************************************************
* 1. Imports
************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* @import url(bootstrap.css); */

/***********************************************************
* 2. General Rules
************************************************************/
:root {
  --primary-color: #0076C6;
  --secondary-color: #000000;
  --terciary-color: #FFFFFF;
  --content-color: #EBEBEB;
  --active-color: #F58300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  overflow: hidden;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  /* color: #8c8c8c; */
}

li {
  list-style: none;
}

input::placeholder {
  color: black;
}

.bg-primary {
  background: var(--primary-color);
  color: #F3F3F3;
}

.bg-white {
  color: white
}

.bg-error {
  background: rgba(197, 18, 18, 0.842);
  color: #f3f3f3;
}

.hide {
  display: none !important;
}

.soft-hide {
  visibility: hidden;
}

.hard-hide {
  display: none !important;
}

.center {
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  text-align: center;
}

.container {
  display: flex;
}

.hover:hover { 
  cursor: pointer;
}
.container-end {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 5rem;
}

.inline {
  display: inline;
}

.red {
  background-color: #AD0C20 !important;
  color: white;
}
.red:hover {
    color: white !important;
    border: none !important;
}
.red:active {
    border: 2px solid red !important;
    color: var(--terciary-color) !important;
    background-color: #AD0C20 !important;
}

.container-start {
  display: flex;
  justify-content: flex-start;
}

.row {
  flex-flow: row;
}

.col {
  flex-flow: column;
}

.mg-top {
  padding-top: 3.2rem;
}

.pd-left {
  padding-left: 1rem;
}

.pd-left2 {
  padding-left: 2rem;
}

.pd-bottom {
  padding-bottom: 1rem;
}

.container-half {
  width: 50%;
  display: flex;
}

.btn-hover {
  border: none;
  text-decoration: none;
}

.btn-hover:hover {
  opacity: 0.7;
  cursor: pointer
}

.mg-top-light {
  margin-top: 1.5rem;
}

.mg-left {
  margin-left: 1rem;
}

.half {
  width: 40%;
}

.cover-65 {
  width: 65%;
}

.cover-35 {
  width: 35%;
}

.nice-overflow {
  overflow: auto;
}

.pd-right {
  padding-right: 1rem;
}

.pd-left {
  padding-left: 1rem;
}

label { 
  font-size: 1rem;
  font-weight: bold;
  color: #494646;
}

#content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem;
}

.bg-gray {
  background: rgb(172, 172, 172, 0.3);
  opacity: 0.7
}

.container .table {
  width: 100%;
}

#table-header {
  float: left;
  height: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border: 1px #ccc solid;
}


.transcripts-table {
  border: 1px rgb(127, 127, 127, 0.5) solid;
  height: 60vh;
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  overflow: auto;
  grid-auto-rows: 3rem;
}

.transcripts-table-transcribe {
  border: 1px rgb(127, 127, 127, 0.5) solid;
  height: 60vh;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  overflow: auto;
  grid-auto-rows: 3rem;
}

#table-header-transcribe{
  float: left;
  height: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border: 1px #ccc solid;
}

.select-transcript {
  width: 13.5rem;
  height: 3rem;
  position: relative;
  left: 92.5%;
  padding-bottom: 0.5rem;
}

.select-transcript select {
  margin-right: 1rem;
  border-radius: .5rem;
  border: var(--primary-color) 1px solid;
  background-color: white;
  color: var(--primary-color);
}

.grid {
  display: grid;
}

button {
  width: 8rem;
  height: 2rem;
  border-radius: .3rem;
  margin: none;
  font-size: .8rem;
}

input::placeholder {
  padding-left: .25rem;
}

main { 
  width: 100%;
}

.text-center { 
  padding-right: 5rem;
}


.real-half {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}
.real-half div {
    width: 100%;
}
.real-half p {
    width: 40%;
    margin: 0;
    padding: 0;
}
.real-half span {
    width: 60%;
    margin: 5px 0 0;
}


.hide {
  display: none;
}
.dup {
    position: fixed;
    z-index: 4;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.dup-content {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: white;
    width: 75%;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.dup-content div {
  padding: 0 4%;
}
.dup-header {
  background-color: var(--primary-color);
}
.dup-header h2 {
  padding: 50px 0 10px;
  font-size: 3em;
  color: var(--terciary-color);
}
.dup-header, .btn-box {
  width: 100%;
}
#new-info-field, #dup-info-field {
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}
#edit-info-field {
    width: 5
}
.dup h3 {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 300;
}
.dup p {
  width: 30%;
  padding: 5px 0;
  font-size: 1.3em;
  font-weight: 600;
}
.dup span {
  width: 70%;
}
.dup a,h3 {
  width: 100%;
  overflow: hidden;
}
.dup span, .dup a {
  font-size: 16px;
}
.btn-box button {
  width: 200px;
  height: 40px;
  margin: 2vw .5vw;
  padding: 5px;
  font-size: 1em;
  border-style: none;
  background-color: var(--primary-color);
  color: var(--terciary-color);
  outline: none;
}
.btn-box button:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--terciary-color)
}
.btn-box button:active {
  border: 2px solid var(--active-color);
  color: var(--terciary-color);
  background-color: var(--active-color);
}
#dupUsed {
  width: 700px;
  text-align: center;
}
#dupUsed h2{
  margin: 50px 0 100px;
}
#place-transcript-window {
  width: 1000px;
}

#announcement-edit {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 5px;
  font-family: "Open Sans";
  font-size: 16px;
}
#dupLinks textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
  font-family: "Open Sans";
  font-size: 16px;
}
#place-transcript-box {
  width: 100%;
}

#continue-guest-window {
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
}
#continue-guest-window #btn-box {
  padding: 50px;
}


/********************************************
*   EDIT/DELETE TRANSCRIPT WINDOW   
********************************************/

#edit-info-field, #notes-info-field {
    width: 50%;
}
#edit-info-field div, #notes-info-field div {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 3px;
}
#edit-info-field p, #notes-info-field p {
    width: 200px;
    cursor: default;
}
#edit-info-field input,select, #notes-info-field span {
    width: 400px;
    height: 25px;
}
#edit-info-field input,select {
    padding: 3px 10px;
    border: 1px solid #888;
    border-radius: 3px;
    outline: none;
}
#edit-info-field input:focus,select:focus {
    box-shadow: 0 3px 5px 0 #aaa;
}
#btn-delete-transcript {
    float: right;
}
#add-course-code {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 -35px;
    padding: 0 7px;
    font-size: 18px;
    border-radius: 50%;
    transition: all .2s;
    cursor: pointer;
}
#edit-info-field select {
    width: 250px;
    margin: 0;
}


/***********************************************************
* 2.1 Modal Boxes
************************************************************/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal #submit-report { 
  position: absolute;
  right: -5rem;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  display: flex;
  flex-direction: row;
}

.modal-content #newValue  {
  height: 2rem;
  margin-left: 4rem;
  width: 30rem;
}

.modal-content #newValue::placeholder { 
  color: gray
}

#editModal-content { 
  width: 20%;
  height: 8rem;
}

#editModal-content button { 
  position: relative;
  /* right: 1000rem; */
  top:3rem;
  left: -8rem;
}

.modal-content textarea {
  margin-left: 2rem;
  border: 1px dotted #888;
  border-radius: .5rem;
  font-family: 'Open Sans', sans-serif;
}

.modal button {
  position: relative;
  top: 11rem;
  left: 40.8rem;
  float: left;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  position: relative;
  top: -1.2rem;
  right: -.5rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  height: 13rem;
}

.modal-content2 input { 
  height: 2rem;
}

.close2 {
  color: #aaaaaa;
  float: right;
  position: relative;
  bottom: 10rem;
  right: -.5rem;
  font-size: 28px;
  font-weight: bold;
}




.modal-content2 a {
  width: 8rem;
  height: 2rem;
  border-radius: .3rem;
  margin: none;
  font-size: .8rem;
  position: relative;
  top: .5rem;
  left: 65.3rem;
}

.close3 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body4 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  display: flex;
  flex-direction: row;
  max-height: 30rem;
  overflow: scroll;
}

.close4 {
  color: black;
  position: relative;
  /* left: 28rem; */
  bottom: 1.5rem;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

#myModal #problem-description {
  max-width: 15rem;
  max-height: 12rem;
  min-width: 15rem;
  min-height: 12rem;
}

/***********************************************************
* 2. Navbar
************************************************************/

#main-nav .bg-primary {
  padding: 1.5rem 1rem;
}

#main-nav ul {
  display: flex;
  flex-flow: row;
  background: var(--primary-color);
  max-height: 4rem;
}

#main-nav ul li {
  padding: 0.7rem 2.5rem;
  color: white;
  font-weight: 150;
  font-size: .8rem;
}

#main-nav h2 {
  color: white;
  padding-left: 1.5rem;
}

#main-nav ul a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(44, 39, 39);
}

#main-nav ul li a:hover {
  color: #f3f3f3;
}

#main-nav ul li:hover {
  background: var(--active-color);
  cursor: pointer;
}

#main-nav ul li:hover a {
  color: #f3f3f3;
}

#main-nav ul li.active>i,
#main-nav ul li.active {
  background-color: white;
  color: #0076C6;
}

#main-nav ul li.active a {
  color: #FFFFFF;
}

#main-nav ul .byuiLogo {
  position: absolute;
  right: 14rem;
  top: -.5rem;
}


#main-nav ul .byuiLogo img {
  max-height: 2rem;
}

#main-nav ul .byuiLogo h2 {
  padding-top: 1.5rem;
  font-weight: 250;
  font-size: 1.4rem;
}

#main-nav .logout {
  position: absolute;
  right: 4rem;
  top: 1rem;
  color: white;
}

#main-nav .logout p {
  padding-left: .5rem;
}

/***********************************************************
* 3. Home Page Page Sections
************************************************************/

#content #transcript-not-found div {
  background: var(--content-color);
  padding: 1.5rem;
  height: 53%;
  justify-content: center;
  text-align: center;
}

#content #transcript-box h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

#content #transcript-box {
  line-height: 2.3rem;
  background: var(--content-color);
  padding: 1.5rem;
  height: 53%;
}

#content #transcript-box p {
  font-size: 1.1rem;
}

#content #transcript-box label {
  font-size: 1rem;
  font-weight: bold;
  color: #494646;
}

#content #transcript-box button {
  margin: 0.3rem;
}

#content #transcript-box a {
  color: var([--primary-color]);
  font-size: 1rem;
}

#content #links p {
  font-size: 1.1rem;
}

#content #links #group-links {
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-left: -.5rem;
}

#content #links #group-links a {
  text-decoration: none;
  height: 9rem;
  width: 11rem;
  background: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content #links #group-links a:hover {
  opacity: 0.7;
  cursor: pointer;
}

#content #transcript-box #read-notes {
  position: relative;
  top: .2rem;
  color: var(--primary-color);
  border: none;
}

#verifyButton {
  background-color: #c42b2b !important;
  font-weight: bolder !important;
  font-size: 1rem;
}

/***********************************************************
* 4. Request page sections
************************************************************/
#requestForm select,
#requestForm input {
  height: 2rem;
  margin: .5rem;
  width: 80%;
}

#requestForm {
  line-height: 3.05rem;
  margin-top: -1rem;
}

#requestForm #requestLength {
  width: 35%;
}

#requestForm #requestHeight {
  width: 90%;
}

#requestCommentsLabel h3 {
  padding-left: .5rem;
}

#time-calculator {
  display: flex;
  flex-flow: row;
  width: 89%;
}

#time-calculator input {
  width: 80%;
}

#time-calculator img {
  margin: auto .2rem;
  ;
  max-height: 1.5rem;
}

#time-calculator img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.ticketbox {
  line-height: 2.2rem;
  background: var(--content-color);
  padding: 1.5rem;
  height: 53%;
  font-size: 1rem;
}

.ticketbox label {
  font-size: 1rem;
  font-weight: bold;
  color: #494646;
}

.ticketbox button {
  position: relative;
  top: 1rem;
}

/***********************************************************
* 4. Prepare page sections
************************************************************/
.group-all {
  margin: 4rem 7rem;
  width: 87%;
  height: 70vh;
}

.prepare-btn,
.claim-transcription-btn {
  border: none;
  height: 1.5rem;
  border-radius: 10px;
  width: 8rem;
}

#left-prep {
  line-height: 2rem;
}

#left-prep input[type=text] {
  height: 2rem;
  margin: .5rem 0;
  width: 65%;
}

#left-prep .verbit-check {
  flex-wrap: wrap;
}

#left-prep .group-inputs {
  height: 2.5rem;
  padding-top: .5rem;
}

#left-prep .group-inputs input {
  width: 8rem;
  margin-right: 1rem;
}

#left-prep .verbit-check .small-text {
  position: relative;
  bottom: 0rem;
  left: 3rem;
  line-height: 1rem;
  padding-bottom: 1rem;
}

#left-prep input::placeholder {
  padding: 1rem;
}

#left-prep #seeErrorMessage {
  position: relative;
  left: 10rem;
  top: 0.5rem;
  padding: 1rem;
  background-color: red;
  border-radius: 10px;
}

.check-placeholder-completion {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  line-height: 1.3rem;
}

.check-placeholder-completion input[type='submit'] {
  position: relative;
  bottom: .5rem;
}

.check-placeholder-completion p {
  color: var(--primary-color);
  font-size: 12px;
}

.check-placeholder-completion div {
  width: 15%;
}

.check-placeholder-completion input[type='checkbox'] {
  margin: .5rem;
  height: 2rem;
  width: 60%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background: lightgray;
}



/* Another Special Modal for the Embedded Code */

.modal3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content3 {
  position: fixed;
  bottom: 350px;
  background-color: #fefefe;
  width: 45%;
  left: 25rem;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close3 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header3 {
  padding: 2px 16px;
  background-color: var(--primary-color);
  color: white !important;
  z-index: 1;
  opacity: 1;
  height: 3rem;
}

.modal-header3 h2 {
  color: white !important;
  font-size: 25px;
}

.modal-body3 {
  padding: 2px 16px;
  height: 10rem;
  color: white;
  background: lightgray;
  display: flex;
  /* align-content: center;
justify-content: center;
text-align: center; */
  flex-flow: row;
}

.modal-body3 i {
  position: relative;
  left: 0rem;
  top: 1.76rem;
  color: var(--primary-color);
}

.modal-body3 i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal-body3 p {
  color: var(--primary-color);
  font-size: .63rem;
  position: relative;
  left: 2rem;
}

.modal-body3 textarea {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  max-height: 85%;
  min-height: 85%;
  padding-top: 2rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  text-align: center;
  background: lightgray;
  border: none;
}

.modal-body3 textarea::selection {
  color: var(--primary-color);
  background: white;
  text-decoration: none;
}

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: 0;
    opacity: 0
  }

  to {
    bottom: 340px;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: 0;
    opacity: 0
  }

  to {
    bottom: 340px;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/***********************************************************
* 5. Index Page - Sign Up/Sign In
************************************************************/

#front-page {
  background: var(--primary-color);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 13rem;
}

#front-page h1 {
  color: white;
  padding-left: 10rem;
  letter-spacing: 0.05rem;
}

#front-page img {
  height: 7rem;
}

#signin {
  display: flex;
  flex-flow: column;
  height: 50vh;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}

#signin input {
  width: 18rem;
  margin-top: 1.5rem;
  border: var(--primary-color) solid 1px;
}

#signin .buttons {
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: 100%;
  padding-top: 1.5rem;
}

#signin .buttons button {
  border-radius: 10px;
  margin: 0 .3rem;
  height: 3rem;
  width: 8%;
}

#signin p {
  font-weight: bold;
  font-size: 2rem;
}

#signin #resetPassword {
  padding-top: 1rem;
  text-decoration: underline;
  font-size: 1rem;
}

#signup {
  display: flex;
  flex-flow: column;
  height: 50vh;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}

#signup input {
  width: 18rem;
  margin-top: 1.5rem;
  border: var(--primary-color) solid 1px;
}

#signup p {
  font-weight: bold;
  font-size: 2rem;
}

#signup select {
  margin-top: 1.5rem;
  width: 18rem;
  height: 2.5rem;
  border-radius: 10px;
  border: var(--primary-color) 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

#signup button {
  margin-top: 1.5rem;
  border-radius: 10px;
}

/***********************************************************
* 6. Master page sections
************************************************************/


#master-content { 
  margin: 3rem 2rem;
  height: 100%;
  justify-content: space-around;
  font-size: .9rem;
}

#master-content #left-master .group-boxes { 
  justify-content: space-between;

}

#master-content #left-master .group-boxes a { 
  width: 11rem;
  height: 9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#master-content #left-master .toggle-box { 
height: 2.5rem;
width: 6rem;
text-align: center;
background: #D2D2D2
}

#master-content #left-master .option-selected { 
  background: var(--content-color);
}

#master-content #right-master .box { 
  background-color: var(--content-color);
  height: 75vh;
  width: 100%;
}

#master-content #left-master .master-grid-user { 
  float: left;
  height: 3rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  /* border: 1px #ccc solid; */
}

#master-content #left-master .master-table-user { 
  border: 1px rgb(127, 127, 127, 0.5) solid;
  height: 40vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  overflow: auto;
  grid-auto-rows: 3rem;
}

#master-content #left-master .master-table-transcript { 
  border: 1px rgb(127, 127, 127, 0.5) solid;
  height: 40vh;
  grid-template-columns: .5fr 1fr 2fr 1fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  overflow: auto;
  grid-auto-rows: 3rem;
}

#master-content #left-master .master-grid-transcript { 
  float: left;
  height: 3rem;
  width: 100%;
  grid-template-columns: .5fr 1fr 2fr 1fr 1fr ;
  text-align: left;
  padding: 1rem 0.5rem;
  /* border: 1px #ccc solid; */
}

#master-content #left-master .master-grid-guest { 
  float: left;
  height: 3rem;
  width: 100%;
  grid-template-columns: .6fr 1fr 1fr 2fr 1fr ;
  text-align: left;
  padding: 1rem 0.5rem;
  /* border: 1px #ccc solid; */
}
#master-content #left-master .master-table-guest { 
  border: 1px rgb(127, 127, 127, 0.5) solid;
  height: 40vh;
  grid-template-columns: .6fr 1fr 1fr 2fr 1fr ;  
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  overflow: auto;
  grid-auto-rows: 3rem;
}

#master-content #right-master .user-info { 
  padding: 4rem;
}

#master-content #right-master .user-info p { 
  padding-bottom: 1rem;
}

#master-content #left-master .select-transcript-master {
   width: 13.5rem;
   position: relative;
   left: 45.5%;
}

.select-transcript-master select {
  border-radius: .5rem;
  border: var(--primary-color) 1px solid;
  background-color: white;
  color: var(--primary-color);
}

#master-content #right-master .transcript-info-box { 
  padding: 3rem;
}

#master-content #right-master .transcript-info-box p {
  padding: .5rem 0;
}