/***********************************************************
* CSS Table of Conttents
* 1. Imports
* 2. General Style Rules
*  2a. Login
*  2b. Content Pages
* 3. Mobile Styles
* 4. Large Screen Styles
********************************************************** */

/***********************************************************
* 1. Imports
************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/***********************************************************
* 2. General Rules
************************************************************/
:root {
  --primary-color: #0076c6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

li {
  list-style: none;
}

.bg-primary {
  background: var(--primary-color);
  color: #F3F3F3;
}

.bg-error {
  background: rgba(197, 18, 18, 0.842);
  color: #f3f3f3;
}

.hide {
  display: none;
}

.container-center { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.mg-top { 
  padding: 3rem;
}

.container-half { 
  width: 50%;
  flex: 1;
}

.btn-hover {
  border: none;
}

.btn-hover:hover { 
  opacity: 0.7; 
  cursor: pointer
}

/***********************************************************
* 2.1 Modal Boxes
************************************************************/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  display: flex;
  flex-direction: row;
}

.modal-content textarea { 
  margin-left: 2rem;
  border: 1px dotted #888;
  border-radius: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.modal button { 
  height: 3rem;
  position: relative;
  top: 5rem;
  left: 46rem;
  float: left;
  padding: 1rem;
  border-radius: 1rem;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  position: relative;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/***********************************************************
* 2. Navbar
************************************************************/
#main-nav .bg-primary {
  padding: 1.5rem 1rem;
}

#main-nav h3 {
  font-size: 2.5rem;
}

#main-nav ul {
  display: flex;
  flex-flow: row;
  background: #ebebeb;
  border: .5px 0 #d8d4d4 solid;
}

#main-nav ul li {
  padding: 0.7rem 4rem;
}


#main-nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(44, 39, 39);
}

#main-nav ul li a:hover {
  color: #f3f3f3;
}

#main-nav ul li:hover {
  background: #F58300;
  cursor: pointer;
}

#main-nav ul li:hover a {
  color: #f3f3f3;
}

#main-nav ul li.active {
  background-color: #0076C6;
  color: #FFFFFF;
}

#main-nav ul li.active a {
  color: #FFFFFF;
}

/***********************************************************
* 3. Home Page Page Sections
************************************************************/
#content { 
  height: 80vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#content section { 
  width: 45%;
  margin: 1rem 1rem;
  background: rgb(127,127,127, 0.1);
}

#content #transcript-box { 
  flex-flow: column;
  line-height: 3rem;
}

#content #transcript-box button { 
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 2rem;
}

#content #transcript-box label {
  font-weight: bold;
  color: #494646;
}

#content #transcript-box a  { 
  color: var([--primary-color])
}

#content #links { 
  display: flex;
  flex-flow: column;
  height: 100%;
}

#content #links p  {
  padding-top: 2rem;
}

#content #links .group-links {
  margin-top: 3rem;
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#content #links div div { 
  height: 10rem;
  width: 10rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 2px;
}

#content #links a { 
  text-decoration: none;
}

#content #links div div:hover { 
  opacity: 0.7;
  cursor: pointer;
}


/***********************************************************
* 4. Request page sections
************************************************************/
#request { 
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 4rem;
}
#request #requestForm { 
  display: flex;
  flex-flow: column;
  width: 35%;
}

#request #requestForm select, #request #requestForm input {
  height: 2rem;
  margin: .5rem;
}

#input {
display: inline;
}