/***********************************************************
* CSS Table of Conttents
* 1. Imports
* 2. General Style Rules
*  2a. Login
*  2b. Content Pages
* 3. Mobile Styles
* 4. Large Screen Styles
********************************************************** */

/***********************************************************
* 1. Imports
************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* @import url(bootstrap.css); */
/***********************************************************
* 2. General Rules
************************************************************/
:root {
  --primary-color: #0076c6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

h2  {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: #8c8c8c;
  text-align: center;
}

li {
  list-style: none;
}

input::placeholder {
  color: black;
}

.bg-primary {
  background: var(--primary-color);
  color: #F3F3F3;
}

.bg-error {
  background: rgba(197, 18, 18, 0.842);
  color: #f3f3f3;
}

.hide {
  display: none !important;
}

.center { 
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  text-align: center;
}

.container{
  display: flex;
}

.container-end{
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 5rem;
}

.container-start {
  display: flex;
  justify-content: flex-start;
}

.row {
  flex-flow: row;
}

.col {
  flex-flow: column;
}

.mg-top { 
  padding-top: 3rem;
}

.container-half { 
  width: 50%;
  display: flex;
  flex-flow: row;
}

.btn-hover {
  border: none;
}

.btn-hover:hover { 
  opacity: 0.7; 
  cursor: pointer
}

.mg-top-light {
  margin-top: 1.5rem;
  
}

.dim-width {
  width: 80vh;
}

.half {
  width: 40%;
}

#content { 
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 90vh;
  width: 90%;
}

#content section { 
  margin: 3rem 2rem;
  height: 80%;
}

.bg-gray {
  background: rgb(172,172,172, 0.3);
  opacity: 0.7
}

.container .table { 
  width: 100%;
}


#table-header { 
  float: left;
  height: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border: 1px #ccc solid;
}

.select-transcript {
  width: 13.5rem;
  height: 3rem;
  position: relative;
  left: 92.5%;
  padding-bottom: 0.5rem;
}
.select-transcript select { 
 margin-right: 1rem;
 border-radius: 10px;
 border: var(--primary-color) 1px solid;
 background-color:white;
 color: var(--primary-color);
}

.grid {
  display: grid;
}

.small-text { 
  font-size: 12px;
}
/***********************************************************
* 2.1 Modal Boxes
************************************************************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  display: flex;
  flex-direction: row;
}

.modal-content textarea { 
  margin-left: 2rem;
  border: 1px dotted #888;
  border-radius: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.modal button { 
  height: 3rem;
  position: relative;
  top: 5rem;
  left: 46rem;
  float: left;
  padding: 1rem;
  border-radius: 1rem;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  position: relative;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 59%;
  display: flex;
  height: 12rem;
  flex-direction: row;
}

.modal #btn-modal2 {
  position: relative;
  top: .8rem;
  left: 16rem;
  height: .5rem;
  padding: 1.5rem 2rem;
  border: none;
  background: var(--primary-color);
  color: white;
}

.modal #btn-modal2:hover {
  opacity: 0.8;
  cursor: pointer;
}


/***********************************************************
* 2. Navbar
************************************************************/
#main-nav .bg-primary {
  padding: 1.5rem 1rem;
}

#main-nav h3 {
  font-size: 2.5rem;
}

#main-nav ul {
  display: flex;
  flex-flow: row;
  background: #ebebeb;
  border: .5px 0 #d8d4d4 solid;
}

#main-nav ul li {
  padding: 0.7rem 4rem;
}


#main-nav ul a  {
  text-decoration: none;
  font-weight: 600;
  color: rgb(44, 39, 39);
}

#main-nav ul li a:hover {
  color: #f3f3f3;
}

#main-nav ul li:hover {
  background: #F58300;
  cursor: pointer;
}

#main-nav ul li:hover a {
  color: #f3f3f3;
}

#main-nav ul li.active {
  background-color: #0076C6;
  color: #FFFFFF;
}

#main-nav ul li.active a {
  color: #FFFFFF;
}


/***********************************************************
* 3. Home Page Page Sections
************************************************************/
#content #transcript-found {
  background: rgb(127,127,127, 0.1);
}

#content #transcript-box { 
  flex-flow: column;
  line-height: 3rem;
}

#content #transcript-box button { 
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 2rem;
}

#content #transcript-box label {
  font-weight: bold;
  color: #494646;
}

#content #transcript-box a  { 
  color: var([--primary-color])
}


#content #links p  {
  padding-top: 2rem;
}

#content #links #group-links {
  margin-top: 3rem;
  height: 55%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


#content #links #group-links a { 
  text-decoration: none;
  height: 9rem;
  width: 9rem;
  background: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content #links #group-links a:hover { 
  opacity: 0.7;
  cursor: pointer;
}


/***********************************************************
* 4. Request page sections
************************************************************/
  #requestForm select, #requestForm input {
  height: 2rem;
  margin: .5rem;
}

#ticketInfo{
  background: rgb(127,127,127, 0.1);
  /* width: 80vh; */
  text-align: center;
  line-height: 3rem;
  overflow-wrap: break-word;
}

.container #requestType{
  width: 80%;
}

#verbit  {
  visibility: hidden;
}
#verbit input{
  width: 1.25rem;
}

#requestCommentsLabel h3{
  padding-left: .5rem;
}

#time-calculator { 
  display: flex;
  flex-flow: row;
  width: 100%;
}

#time-calculator input {
  width: 75%;
}

#time-calculator img {
  margin: auto .5rem;
}

#time-calculator img:hover {
  opacity: 0.8;
  cursor: pointer;
}

#ticketInfo { 
  line-height: 3.5rem;
}

#ticketInfo #requestSubmit { 
margin-top: 3rem;
background: var(--primary-color);
padding: .8rem;
border-radius: 1rem;
border: none;
color: white;
width: 8rem;
}

#ticketInfo #requestSubmit:hover { 
  opacity: 0.8;
  cursor: pointer;
}
/***********************************************************
* 4. Prepare page sections
************************************************************/
.group-all {
  /* border: 1px solid black; */
  margin: 4rem 6rem; 
  width: 80%;
  height: 70vh;
}

.transcripts-table {
  border: 1px rgb(127,127,127, 0.5) solid;
  height: 60vh;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  /* grid-template-rows: repeat(auto-fill, minmax(5, 4rem)); */
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  /* align-items: baseline; */
  overflow: auto;
  /* grid-row-gap: 2rem; */
  grid-auto-rows: 3rem;
  
}

.prepare-btn, .claim-transcription-btn { 
  border: none;
  height: 1.5rem;
  border-radius: 10px;
  width: 8rem;
}

#left-prep {
  line-height: 2rem;
}

#left-prep div { 
  padding: .5rem 0;
}

#left-prep input {
 margin: .5rem;
 height: 2rem;
 width: 60%;
 border: 1px solid var(--primary-color);
 border-radius: 10px;
 background: white;
} 

#left-prep .verbit-check {
  width: 50%;
  display: flex;
  flex-flow: row;
  height: 4rem;
  flex-wrap: wrap;
}

#left-prep .verbit-check .small-text {
  position: relative;
  bottom: 1rem;
  left: 3rem;
  line-height: 1rem;
  padding-bottom: 1rem;
}

#left-prep .verbit-check input {
  width: 2rem;
}

#left-prep input::placeholder{
  color: var(--primary-color);
  padding: 1rem;
 } 

 #left-prep .check-completion { 
   position: relative;
   left: -31.2rem;
   float: right;
 }

 #left-prep #getVerbitId {
   margin-top: 1.5rem;
 }
 #left-prep .check-completion p {
   font-size: 12px;
   color: var(--primary-color);
   line-height: 1.5rem;
 }

 .check-placeholder-completion {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    line-height: 1.3rem;
 }

 .check-placeholder-completion input[type='submit'] { 
  position: relative;
  bottom: .5rem;
 }

 .check-placeholder-completion p { 
   color: var(--primary-color);
  font-size: 12px;
 }
 
 .check-placeholder-completion div { 
   width: 15%;
 }

 .check-placeholder-completion input[type='checkbox']{
  margin: .5rem;
  height: 2rem;
  width: 60%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background: lightgray;
 }

 .code-btn { 
   padding: 1rem;
   width: 50%;
   margin: 1rem 2rem;
   border-radius: 10px;
 }

 /* Another Special Modal for the Embedded Code */

 .modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content3 {
  position: fixed;
  bottom: 350px;
  background-color: #fefefe;
  width: 45%;
  left: 25rem;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close3 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header3 {
  padding: 2px 16px;
  background-color: var(--primary-color);
  color: white !important;
  z-index: 1;
  opacity: 1;
  height: 3rem;
}

.modal-header3 h2  {
  color: white !important;
  font-size: 25px;
}

.modal-body3 {
padding: 2px 16px;
height: 10rem;
color: white;
background: lightgray;
display: flex;
/* align-content: center;
justify-content: center;
text-align: center; */
flex-flow: row;
}

.modal-body3 i { 
  position: relative;
  left: 0rem;
  top: 1.76rem;
  color: var(--primary-color);
}

.modal-body3 i:hover { 
opacity: 0.5;
cursor: pointer;
}

.modal-body3 p { 
color: var(--primary-color);
font-size: .63rem;
position: relative;
left: 2rem;
}
.modal-body3 textarea {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  max-height: 85%;
  min-height: 85%;
  padding-top: 2rem;
  font-family:'Open Sans', sans-serif;
  border-radius: 10px;
  text-align: center;
  background: lightgray;
  border: none;
}

.modal-body3 textarea::selection {
  color: var(--primary-color);
  background: white;
  text-decoration: none;

}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: 0; opacity: 0} 
  to {bottom: 340px; opacity: 1}
}

@keyframes slideIn {
  from {bottom: 0; opacity: 0}
  to {bottom: 340px; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}