#requestForm {
  display: grid;
  grid-template-columns: repeat(10, 9%);
  grid-template-rows: repeat(13, 1fr);
  column-gap: 1em; }

.row-4 {
  grid-row: 4;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-5 {
  grid-row: 5;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-6 {
  grid-row: 6;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-7 {
  grid-row: 7;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-8 {
  grid-row: 8;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-9 {
  grid-row: 9;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-10 {
  grid-row: 10;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-11 {
  grid-row: 11;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-12 {
  grid-row: 12;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

.row-13 {
  grid-row: 13;
  height: 1.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center; }

#prevRequest {
  grid-column: 1 / span 10;
  text-align: left;
  padding-top: 0.25em;
  margin: 0.2em; }

#message {
  grid-column: 1 / span 11;
  margin: 0; }

#requestTypeLabel {
  grid-column: 1 / span 1;
  grid-row: 2; }

#requestType {
  grid-column: 1 / span 1;
  grid-row: 3; }

#requestCourseLabel {
  grid-column: 2 / span 1;
  grid-row: 2; }

#requestCourse {
  grid-column: 2 / span 1;
  grid-row: 3; }

#requestTitleLabel {
  grid-column: 3 / span 1;
  grid-row: 2; }

#requestTitle {
  grid-column: 3 / span 1;
  grid-row: 3; }

#requestPriorityLabel {
  grid-column: 4 / span 1;
  grid-row: 2; }

#requestPriority {
  grid-column: 4 / span 1;
  grid-row: 3; }

#requestLMSURLLabel {
  grid-column: 5 / span 1;
  grid-row: 2; }

#requestLMSURL {
  grid-column: 5 / span 1;
  grid-row: 3; }

#requestWeekLabel {
  grid-column: 6 / span 1;
  grid-row: 2; }

#requestWeek {
  grid-column: 6 / span 1;
  grid-row: 3; }

#requestVideoURLLabel {
  grid-column: 7 / span 1;
  grid-row: 2; }

#requestVideoURL {
  grid-column: 7 / span 1;
  grid-row: 3; }

#requestLengthLabel {
  grid-column: 8 / span 1;
  grid-row: 2;
  position: relative; }

#requestLength {
  grid-column: 8 / span 1;
  grid-row: 3; }

#timeCalc {
  height: 1em;
  margin-left: 10px; }

#requestHeightLabel {
  grid-column: 9 / span 1;
  grid-row: 2;
  position: relative; }

#requestHeight {
  grid-column: 9 / span 1;
  grid-row: 3;
  position: relative; }

#requestSubmit {
  grid-column: 10;
  grid-row: 3;
  height: auto;
  font-size: 1.5em; }

input,
select {
  font-size: 16px;
  border-radius: 10px; }

label h3 {
  margin: 5px 0; }

/* Tooltip container */
.tooltip {
  position: absolute;
  right: 0; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: -80px; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  /* The Close Button */ }
  .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .modal-content .close:hover, .modal-content .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

form {
  padding: 1em;
  text-align: left; }
  form button {
    width: 25%;
    margin: 0 38%;
    font-size: 1.25em; }
  form input {
    width: 100%;
    font-size: 14px;
    margin: .5em;
    padding: .5em;
    height: 3em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  form input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #808080;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block; }
    form input[type=checkbox]:checked {
      background-color: #0076c6;
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: #99a1a7; }
  form table {
    margin-right: auto;
    margin-left: auto; }

h2 {
  text-align: center; }

/*# sourceMappingURL=form.css.map */
