@import "../partials/main.scss";

main {
    display: grid;
    grid-template-rows: 10% 10% 80%;

    h1 {
        padding: 0.5em;
        grid-column: 1 /span 2;
    }

    section {
        grid-column: 1 /span 2;
        grid-row: 2;
        overflow-y: scroll;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div {
            margin: 0 2em 2em 2em;
            padding-bottom: 1em;
            border-bottom: 1px solid black;
            height: 10em;
            span{
                margin-left: 0.5em;
            }
            h3 {
                margin-left: 0em;
            }

            p {
                margin-left: 1em;
            }
        }
    }
}