.hide {
    display: none;
}

.modal-body {
    height: 65vh;
    overflow: auto;
    border-radius: 10px;
}
.left-col {
    width: 500px;
}    
.right-col {
    width: 400px;
}
.detail {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0;
    padding: 3px 0;
}
.detail p {
    width: 120px;
    font-weight: 700;
}
.detail span {
    width: 330px;
}
#notes-info-field span {
    width: 200px;
}
.detail a {
    width: 100%;
    word-break: break-all;
}
.median {
    height: 100%;
}
#loc-title {
    width: 300px;
}
#add-location {
    width: 20px;
    height: 20px;
    padding: 3px;
    
    font-size: 14px;
}
.loc {
    width: 350px;
}
.sidebar {
    width: 5px;
    height: 100%;
    margin-right: 15px;
    border-radius: 5px;
    background-color: slateblue;
    opacity: .5;
}
#comments-header {
    margin-top: 25px;
}

.edit-loc {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}