/***********************************************************
* MAIN.CSS | Tech-Ops Portal Style Sheet
* CSS Table of Contents
* 
* 1. Imports
* 2. General Styles
* 3. Body Styles
***********************************************************/



/***********************************************************
* 1. Imports
***********************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Spectral');



/***********************************************************
* 2. General Styles
***********************************************************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}



/***********************************************************
* 3. Body Styles
***********************************************************/

body {
  background-repeat: no-repeat;
  background-image: url("../assets/banners/bannerPic.png");
  background-size: 100vw; 
}

body section {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;

  background-color: rgba(11, 109, 172, 0.7); 

}
#logo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding-left: 17%;
}
#school {
  width: 50%;
  margin-top: 100px;
}
#techops {
  width: 20%;
  margin: 100px 15% 40px;
}


#emailbox, #passwordbox {
  width: 50%;
  text-align: left;
}
#lower {
  margin: 30px 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;

  font-size: 20px;
}
#emailbox, #passwordbox {
  width: 60%;
  display: flex;
  padding: 5px;
}
#emailbox span, #passwordbox span {
  width: 30%;
  padding: 7px 10px;
  font-size: 1vw;
  text-align: right;
}
input {
  width: 70%;
  height: 35px;
  padding: 7px;
  border-style: none;
  border-radius: 5px;
  position: relative;
  right: 0;
}

#buttons {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}
#lower .button {
  border-radius: 4px;
  background-color: #0076c6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  margin: 1%;
  padding: 10px;
  width: 40%;
  cursor: pointer;
  transition: background-color,color 0.5s;
}
#lower .button:hover {
  background-color: #FFFFFF;
  color: #0076c6;
}
#detail, #recover {
  width: 60%;
  margin: 30px;
  text-align: center;
  font-size: 14px;
}


/***********************************************************
* 2. General Styles
**********************************************************

* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Open Sans', sans-serif;
color: white; }

body {
  background-repeat: no-repeat;
  background-image: url("../assets/banners/bannerPic.png");
  background-size: 100vw; 
}
body section {
  background-color: rgba(11, 109, 172, 0.7); 
}
body section:nth-of-type(1) {
  padding: 4em;
  width: 35%;
  display: flex;
  justify-content: space-between; 
}
body section:nth-of-type(1) img {
  height: 6em; 
}
body section:nth-of-type(2) {
  position: absolute;
  width: 35%;
  right: 0;
  top: 0;
  height: 100vh; 
}
body section:nth-of-type(2) #lower {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 0 auto;
  margin-top: 18em; 
}
body section:nth-of-type(2) #lower p {
  font-size: 2em;
  text-align: center;
}
body section:nth-of-type(2) #lower label {
  padding-top: 1em; 
}
body section:nth-of-type(2) #lower label span {
  display: block; 
}
body section:nth-of-type(2) #lower label input {
  color: black;
  height: 2.5em;
  border: 1px black;
  border-radius: 0.3em;
  padding: 0 1em;
  width: 100%; 
}
body section:nth-of-type(2) #lower > span {
  text-align: center;
  padding: 1em 0; 
}
body section:nth-of-type(2) #lower div {
  display: flex;
  justify-content: space-around; 
}
body section:nth-of-type(2) #lower div .button {
  border-radius: 4px;
  background-color: #0076c6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 15px;
  width: 45%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1%; 
}
body section:nth-of-type(2) #lower div .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; 
}
body section:nth-of-type(2) #lower div .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; 
}
body section:nth-of-type(2) #lower div .button:hover span {
  padding-right: 25px; 
}
body section:nth-of-type(2) #lower div .button:hover span:after {
  opacity: 1;
  right: 0; 
}
body section:nth-of-type(2) #lower #recover {
  text-decoration: underline; 
}

# sourceMappingURL=index.css.map */
