/***********************************************************
* MAIN.CSS | Tech-Ops Portal Style Sheet
* CSS Table of Contents
* 
* 1. Imports
* 2. Color Variables
* 3. General Style Rules
* 3a. Navigation Styles
* 3b. Main Styles
* 4. Home.html
* 5. Schedule.html
* 6. Store.html
* 7. Profile.html
********************************************************** */

/***********************************************************
* 1. Imports
********************************************************** */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/***********************************************************
* 2. Color Variables
********************************************************** */
:root {
    --blue: #0076c6;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --black: #000000;
    --first: #0076c6;
    --second: #6c757d;
    --third: #0076c6;
    --accent1: #ffffff;
    --accent2: #727272;
    --background: #ffffff;
    --backgroundSecondary: #ffffff;
    --backgroundLight: #f7f7f7;
    --backgroundGrade: none;
    --shadow: #000000;
    --fontPrime: #ffffff;
    --fontSecond: #0f0f0f;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/***********************************************************
* 3. General Style Rules
********************************************************** */

.col1  {width: 10%;  }
.col2  {width: 20%;  }
.col3  {width: 30%;  }
.col4  {width: 40%;  }
.col5  {width: 50%;  }
.col6  {width: 60%;  }
.col7  {width: 70%;  }
.col8  {width: 80%;  }
.col9  {width: 90%;  }
.col10 {width: 100%; }

[class*="col"] {
    float: left;
}
* {
    box-sizing: border-box;
    margin: 0;
    color: var(--fontPrime);
}
.flex-container {
    display: flex;
}

.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.hide{display: none !important;}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight: 400;
    flex-wrap: wrap;
    background-color: var(--background);
}

/***********************************************************
* 3a. Navigation Styles
********************************************************** */

nav img {
    width: 100%;
    padding: 10%;
    transition: transform .2s;
}
nav img:hover {
    width: 100%;
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    -ms-transform: scale(1.1); /* IE 9 */
    transform: scale(1.1);
}
nav {
    background-color: var(--first);
    background-image: var(--backgroundGrade);
    height: 100%;
    position: fixed;
    box-shadow: 5px 0 10px var(--shadow);
    z-index: -1;
}
.nav-links {
    width: 100%;
    height: auto;
    flex-flow: column wrap;
    list-style: none;
    padding: 0;
}
.nav-links a {
    padding: .7em 2em;
    margin: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: transform .2s;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5em;
    color: var(--fontPrime);
    transition: transform .15s;
}
.nav-links a:hover {
    background-color: var(--second);
    transform: scale(1.05);
}
.current-page {
    border-left: 10px solid white;
}



/**********************************************
* 3b. Main Styles
**********************************************/

main {
    margin-left: 10%;
    justify-content: row;
}
.page-title {
    margin: 0;
    padding: 50px 6% 30px;
    font-size: 2.5em;
    font-weight: 400;
    color: var(--fontSecond);
}


/**********************************************
* 4. Home.html
**********************************************/

.slideshow-container {
    width: 85%;
    height: 13em;
    margin: 15px auto 20px;
    padding: 0;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 2px 1px 5px var(--shadow);
}
.slideshow-container img {
    width: 100%;
}
.slideshow-container .numbertext{
    color: var(--fontPrime);
    position: absolute;
    margin: 5px 0 0 8px;
}
.mySlides {
    z-index: -1;
}
.prev, .next {
    color: var(--fontPrime);
    position: absolute;
    z-index: 1;
    margin-top: -8em;
    padding: 10px 8px;
}
.prev:hover, .next:hover {
    background-color: var(--second);
}
.next {
    margin-left: 60%
}

.links-container {
    width: 85%;
    margin: 0px auto;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.box-link {
    width: 200px;
    height: 200px;
    margin: 15px;
    box-shadow: 1px 1px 3px var(--shadow);
    background-color: var(--first);
    border-radius: 8px;
    overflow: hidden;
    transition: transform .2s;
}
.box-link:hover {
    transform: scale(1.1);
}
.box-link img {
    width: auto;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
.box-link p {
    margin: 150px 10px 10px 30px;
    font-size: 1.4em;
    font-weight: 500;
    z-index: 1;
    color: var(--fontPrime);
    position: absolute;
}

.right-sidebar {
    align-items: center;
    flex-flow: column wrap;
    padding-right: 5%;
    margin-left: -30px;
}
.right-sidebar a {
    margin: 20px;
    width: 50%;
}
.right-sidebar img {
    width: 100%;
}
.themes {
    margin-bottom: 70px;
}
.btn1 {
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    outline: none;
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
}
.btn1:hover {
    transform: scale(1.2);
}


#light {background-color: var(--blue); border: 1px solid var(--white);}
#dark {background-color: var(--gray-dark); border: 1px solid var(--blue);}
#jedi {background-image: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);}
#sith {background-image: linear-gradient(45deg, rgba(36, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);}
#merica {background-image: linear-gradient(9deg, rgba(255, 0, 0, 1) 0%, rgba(221, 59, 59, 1) 16%, rgba(235, 208, 208, 1) 32%, rgba(255, 255, 255, 1) 39%, rgba(191, 230, 241, 1) 45%, rgba(69, 163, 190, 1) 64%, rgba(51, 83, 185, 1) 80%)}

.btn2 {
    width: 260px;
    height: 160px;
    margin: 15px 15px 0;
    border-radius: 30px;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--fontPrime);
    outline: none;
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
}
.btn2:hover {
    background-color: var(--second);
    transform: scale(1.05);
}
#break-button span {
    font-size: 1.8em;
    color: var(--fontPrime);
}
.clock {
    font-size: 2em;
}
.hiddenBtn {
    display: none;
}
#last-checked, #last-break {
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    color: var(--fontSecond);
}
.over {
    color: red;
}

#time-n-date {
    padding: 30px;
    margin: 10px 0 50px;
    border: 5px solid var(--third);
    color: var(--third);
    border-radius: 50px;
}
#time-n-date p, span {
    color: var(--third);
    text-align: center;
}
#time {
    font-size: 4.5vw;
    font-weight: 300;
    margin: -.5vw 0;
    padding: 0;
}
#ampm {
    font-size: 1vw;
}
#date {
    font-size: 1.5vw;
    font-weight: 700;
    margin: .5vw 0 0;
    padding: 0;

}


/**********************************************
* 5. Schedule.html
**********************************************/

#scheduleSection h1 {
    color: black;
    margin: 20px 40px -30px;
    font-size: 2em;
    font-weight: 400;
}
.iframe-container {
    width: 90%;
    height: 95%;
    margin: auto;
    border: 2px solid black;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
}

.teamSelector {
    display: flex;
    justify-content: flex-end;
}

.teamSelector .teamItem {
    margin-right: 2em;
    background-color: var(--first);
    padding: .25em;
    border-radius: 1em;
    color: var(--fontPrime);
}

.teamSelector .teamItem img {
    width: 75%;
    padding-left: .75em;
    padding-top: 1em;
}

.spreadsheet {
    height: 98%;
}

#teams {
    width: 98%;
    height: 54rem;
    margin-left: 1em;
    margin-right: 1em;
}


/**********************************************
* 6. Store.html
**********************************************/

.store-btn {
    position: fixed;
    top: 20px;
    right: -30px;
    margin: 75px 75px -50px;
    padding: 1vw 2vw;
    border-radius: 30px;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--fontPrime);
    outline: none;
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
    transition: all .2s;
}
.store-btn:hover {
    background-color: var(--second);
    transform: scale(1.1);
}
#invoiceStore {
    right: 160px;
}

.snacks-container {
    margin: 50px auto;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.snack {
    padding: 20px;
    height: auto;
    width: auto;
    margin: 20px -40px 20px 100px;
    border: 5px solid var(--first);
    border-radius: 10px;
    box-shadow: 3px 0 5px var(--shadow);
    transition: transform .2s;
}
.snack:hover {
    transform: scale(1.05);
}
.snack-pic {
    height: 150px;
    width: 150px;
    overflow: hidden;
}
.snack img {
    height: 150px;
    width: 150px;
    border-radius: 40px;
}
.snack-info {
    width: 200px;
    height: auto;
    position: relative;
}
.snack-info h3 {
    padding: 5%;
    font-size: 24px;
    font-weight: 500;
    color: var(--fontSecond);
}
.snack-info p {
    padding: 1% 5%;
    font-size: 20px;
    font-weight: 300;
    color: var(--fontSecond);
}
.snack-info button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px;
    background-color: var(--first);
    border-radius: 24px;
    border-style: none;
    outline: none;
    transition: background-color .2s ease;
}
.snack-info button:hover {
    background-color: var(--second);
}

.snacks-section {
    flex-flow: column nowrap;
}
.snack-manage {
    margin: 60px 75px -50px;
    position: fixed;
    width: 30%;
    padding: 15px 40px;
    background-color: var(--first);
    border-radius: 16px;
}
#snack-cart {
    display: flex;
    flex-flow: column nowrap;
}
.snack-in-cart {
    padding: 18px;
}
#snack-remove-btn {
    width: 22px;
    padding: 2px;
    margin-top: -5px;
}
#snack-cart-receipt {
    margin: 20px;
    font-size: 24px;
    text-align: left;
}
#snack-cart-receipt span,
#snack-shopping-list span {
    text-align: left;
}
.snack-manage button {
    width: 25%;
    margin: 5px;
    padding: 10px;
    border: 2px solid var(--fontPrime);
    background-color: var(--first);
    font-weight: 600;
    border-radius: 24px;
    outline: none;
    transition: background-color .2s ease;
}
.snack-manage button:hover {
    background-color: var(--fontPrime);
    color: var(--first);
}
#snack-cart-btns {
    display: flex;
    justify-content: flex-end;
}
.snack-manage h2 {
    margin: 20px 0;
    font-size: 2em;
    font-weight: 500;
}
.snack-manage p {
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 300;
}



/**********************************************
* 7. Profile.html
**********************************************/

.profile-box{
    padding: 20px;
    height: auto;
    margin: 20px -40px 20px 50px;
    border: 5px solid var(--first);
    border-radius: 10px;
    box-shadow: 3px 0 5px var(--shadow);
    color: var(--fontSecond);
}
.profile-box#reasources{
    padding: 20px;
    height: 30em;
    width: auto;
    margin: 20px -40px 20px 50px;
    border: 5px solid var(--first);
    border-radius: 10px;
    box-shadow: 3px 0 5px var(--shadow);
    color: var(--fontSecond);
}
.profile-box #pointsOptions{
    width: 80%;
}
.profile-box-info{
    padding: 20px;
    height: 30em;
    margin: 20px -40px 20px 50px;
    border: 5px solid var(--first);
    border-radius: 10px;
    box-shadow: 3px 0 5px var(--shadow);
    color: var(--fontSecond);
}
.profile-box p,a,h2, h3,span,option,select,div,input,textarea{color: var(--fontSecond);}
.profile-box-info p,a,h2, h3,span,option,select,div,input,textarea{color: var(--fontSecond);}
.btn-profile {
    width: 160px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--fontPrime);
    outline: none;
    background-color: var(--first);
    transition: transform .2s;
    box-shadow: 2px 1px 5px var(--shadow);
    overflow-x: hidden;
}
.btn-profile:hover {
    background-color: var(--second);
    transform: scale(1.05);
}
.profile-points{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--first);
    border-width: 3px; 
    font-size: 1.2em;
    font-weight: 500;
    color: var(--fontSecond);
    background-color: var(--backgroundSecondary);
}
.profile-top-bar{
    flex-direction: row;
    justify-content: flex-start;
    background: var(--first);
    z-index: 20;
    height: 8.5em;
    margin-bottom: -.25em;

}
.profile-top-bar #clock{
    position: absolute;
    left: 95%;
    top: 4%;
    width: 3.5em;
    z-index: 1;
}

.profile-top-bar #signOutBtn{
    position: absolute;
    left: 88%;
    top: 5.5%;
    width: 10em;
    z-index: 1;

}
.page-title-profile{
    margin: 0;
    padding: 50px 6% 30px;
    font-size: 2.5em;
    font-weight: 400;
    color: var(--fontPrime);
}
.profile-links{
    margin: 1em;
}

.themes {
    margin-left: 5vw;
}